{% block extracss %}

    <!-- CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/views/sites/style.css") }}>

{% endblock %}

{% block content %}

    <div class="row">
        <h2 class="site-header-name">
            <ol class="breadcrumb">
              <li class="active"><a href="/sites/site/{{ site_id }}"><i class="fa fa-globe fa-fw"></i>{{ site_name }}</a></li>
            </ol>
        </h2>
    </div>
    
    <div class="row">
        <div class="col-lg-9">
            <div class="widget-container">
                <div class="widget-content no-padding">
                    <div class="google-map">
                        <div id="site-map" class="map-full"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget-container">
                <div class="widget">
                    <div class="widget-content">
                        <ul class="nav tr nav-stacked">
                            <li class="tq">Parameters</li>
                            <li><a href="#">Bold</a></li>
                            <li><a href="#">Minimal</a></li>

                            <li class="nav-divider"></li>
                            <li class="tq">Profiles</li>

                            <li><a href="#">Grid</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block extrajs %}
    
    <script>
    $(document).ready(function() {
        var map;
        var siteLatitude = {{ site_latitude }};
        var siteLongitude = {{ site_longitude }};
        
        function initMap() {
            var mapOptions = {
                zoom: 12,
                center: new google.maps.LatLng(siteLatitude, siteLongitude),
                //mapTypeId: 'terrain'
                mapTypeControl: true,
                streetViewControl: false,
                mapTypeControlOptions: {
                    mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
                },
                fullscreenControl: true
                //mapTypeControlOptions: {
                //    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                //    mapTypeIds: ['roadmap', 'terrain', 'satellite']
                //  }
            };
            
            map = new google.maps.Map(document.getElementById('site-map'), 
                mapOptions);
                
            var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<div id="bodyContent">'+
                '<p><b>Air Temperature:</b> 7.5</p>'
                '</div>'+
            '</div>';
            
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(59.83909, 18.629557999999975),
                map: map,
                title: 'Air Temperature'
            });
            
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });

        }
        
        initMap();
    });
    </script>
{% endblock %}
