{% block sitecharts %}{% endblock %}
<script type="text/javascript">
$(function () {
    var siteId = '{{ site_id }}';
    var paramId = '{{ param_id }}';
    var getChartParameterUrl = 'get_chart_parameter?site_id=' + siteId + '&param_id=' + paramId;

    function initHeatmapChart(div_id, title, subtitle, data) {

        options = {

            chart: {
                renderTo: 'chart-' + div_id + '-canvas',
                type: 'heatmap',
            },

            title: {
                text: title
            },

            subtitle: {
                text: subtitle
            },

            xAxis: {
                title: {
                    text: null
                },
                type: 'datetime'
            },

            yAxis: {
                title: {
                    text: 'Depth'
                },
                min: 0,
                max: 15,
                reversed: true
            },

            colorAxis: {
                stops: [
                    [0, '#3060cf'],
                    [0.5, '#fffbbc'],
                    [0.9, '#c4463a'],
                    [1, '#c4463a']
                ],
                min: 0,
                max: 25,
            },

            legend: {
                enabled: false
            },

            series: [{
                name: title,
                colsize: 24 * 36e5,
                data: data
            }],

        }

        new Highcharts.Chart(options);
    }

    function initWindChart(div_id, title, subtitle, data) {

        var categories = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE',
            'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];

        options = {

            chart: {
                renderTo: 'chart-' + div_id + '-canvas',
                polar: true,
                type: 'column'
            },

            title: {
                text: title
            },

            subtitle: {
                text: subtitle
            },

            pane: {
                size: '85%'
            },

            legend: {
                align: 'right',
                verticalAlign: 'top',
                y: 100,
                layout: 'vertical'
            },

            xAxis: {
                min: 0,
                max: 360,
                type: "",
                tickInterval: 22.5,
                tickmarkPlacement: 'on',
                labels: {
                    formatter: function () {
                        return categories[this.value / 22.5] + '°';
                    }
                }
            },

            yAxis: {
                min: 0,
                endOnTick: false,
                showLastLabel: true,
                title: {
                    text: 'Frequency (%)'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                },
                reversedStacks: false
            },

            tooltip: {
                valueSuffix: '%'
            },

            plotOptions: {
                series: {
                    stacking: 'normal',
                    shadow: false,
                    groupPadding: 0,
                    pointPlacement: 'on'
                }
            },

            series: [{
                name: title,
                data: data
            }],
        }

        new Highcharts.Chart(options);
    }

    function initChart(div_id, title, subtitle, data, unit) {

        options = {

            chart: {
                renderTo: 'chart-' + div_id + '-canvas',
                zoomType: 'x'
            },
            title: {
                text: title,
                x: -20 //center
            },
            subtitle: {
                text: subtitle,
                x: -20
            },
            xAxis: {
                title: {
                    text: null
                },
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: title + ' (' + unit + ')'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: unit
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: data
        }

        new Highcharts.Chart(options);
    }

    function addChartCanvas(div_id, title, subtitle) {
        $('#chart-div').append(
            '<div class="col-lg-10">' +
                '<div class="panel panel-default">' +
                    '<div class="panel-heading">' + title + ' - ' + subtitle + '</div>' +
                    '<div id="chart-' + div_id + '-canvas" class="panel-body"></div>' +
                '</div>' +
            '</div>'
        );
    }

    $.getJSON(getChartParameterUrl, function(data) {
        console.log(data);
    });

});
</script>