{% block content %}
  
  <div class="row">
    <h2 class="site-header-name">
      <ol class="breadcrumb">
        <li class="active"><a href="/sites/site/{{ site_id }}"><i class="fa fa-globe fa-fw"></i>{{ site_name }}</a></li>
      </ol>
    </h2>
  </div>
      
  <ul id="data-tabs" class="nav tr aky akt" role="tablist">
    <li class="active" role="presentation">
      <a href="/sites/site/{{ site_id }}/data/charts" role="tab" data-toggle="tab">Charts</a>
    </li>
    <li role="presentation" class="">
      <a href="/sites/site/{{ site_id }}/data/tables" role="tab" data-toggle="tab">Tables</a>
    </li>
  </ul>
    
  <hr class="akr alp">
    
  <div id="data">
    {% block overview %}
    {% endblock %}
  </div>

{% endblock %}
