adium-theme-ubuntu==0.3.4
pbr==1.10.0
pluggy==0.4.0
py==1.4.31
pycurl==7.43.0
python-apt==1.1.0b1
six==1.10.0
stevedore==1.17.1
unity-lens-photos==1.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
