<div ng-controller="MapController">
    <div id="data-view" ng-hide="!locationChosen"> 
        <div class="card">
            <div class="card-content">
                <div class="card-header-blue">
                   <h3 ng-model="activeLocation"><i class="fa fa-globe fa-fw"></i> {[ activeLocation ]}</h3>
                   <h4 ng-model="activeLocationPosition"><i class="fa fa-location-arrow fa-fw"></i> {[ activeLocationPosition.latitude ]}, {[ activeLocationPosition.longitude ]}</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        <ui-gmap-google-map center="{latitude: 63, longitude: 16}" zoom="6" options="mapOptions">
            <ui-gmap-marker ng-repeat="location in locations" coords="location.position" idkey="location.id-marker" events="markerEvents" options='{title: location.name}'></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>
