<div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown 
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="dropdown-header">Parameters</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div id="container"></div>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkall"></th>
                    <th>Time</th>
                    <th>Station</th>
                    <th>Sensor</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="checkthis"></td>
                    <td>2016-06-06 14:33:12</td>
                    <td>Malma Island</td>
                    <td>Thermocouple</td>
                    <td>23.6</td>
                    <td>°C</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
