<div ng-controller="MapController">
    <div>
        <div id="map">
            <ui-gmap-google-map center="{latitude: 63, longitude: 16}" zoom="6" options="mapOptions"></ui-gmap-google-map>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" ng-repeat="location in locations">
            <div class="card">
                <div id="{[ location.id ]}-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="{[ location.id ]}-carousel" data-slide-to="0" class="active"></li>
                        <li ng-repeat="location_image in location.images" data-target="#{[ location.id ]}-carousel" data-slide-to="{[ $index + 1]}"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" data-map="foo">
                            <div class="google-map">
                                <ui-gmap-google-map center="location.position" zoom="10" options="mapOptions">
                                    <ui-gmap-marker coords="location.position" idkey="location.id-marker"></ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                        </div>
                        <div class="item" ng-repeat="location_image in location.images">
                            <img data-ng-src="data:image/png;base64, {[ location_image ]}" alt="{[ location.name ]}">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#{[ location.id ]}-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#{[ location.id ]}-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
                <!-- <div class="google-map"><ui-gmap-google-map center="location.position" zoom="10" options="mapOptions"><ui-gmap-marker coords="location.position" idkey="location.id-marker"></ui-gmap-marker></ui-gmap-google-map></div> -->
                <div class="card-header">
                    <h3><i class="fa fa-globe fa-fw"></i> {[ location.name ]}</h3>
                    <h4><i class="fa fa-location-arrow fa-fw"></i> {[ location.position.latitude ]}, {[ location.position.longitude ]}</h4>
                    <h4><i class="fa fa-leaf fa-fw"></i> {[ location.environment_category ]}</h4>
                    <div class="card-description">{[ location.description.short_description ]}</div>
                </div>
            </div>
        </div>
    </div>
</div>
