<div ng-controller="MapController">
    <div class="row row-eq-height">
        <!-- <div id="data-view" ng-show="locationIsChosen.active" class="col-lg-8">
            <div ng-repeat="location_image in location.images" class="user-image">
                <img data-ng-src="data:image/png;base64, {[ location_image ]" class="img-responsive thumbnail">
            </div>
            <h3 ng-model="activeLocation.name"><i class="fa fa-globe fa-fw"></i> {[ activeLocation.name ]}</h3>
            <h4 ng-model="activeLocation.positionUrlRep"><i class="fa fa-location-arrow fa-fw"></i> {[ activeLocation.positionUrlRep ]}</h4>
        </div> -->
        <div class="google-map" class="col-lg-12">
            <div id="map"></div>
            <!-- <ui-gmap-google-map control='mapControl' center='map.center' zoom='map.zoom' options='map.options'> -->
                <!-- <ui-gmap-marker ng-repeat="location in locations" coords="location.position" idkey="location.id-marker" customInfo="'test'" events="markerEvents" options='{title: location.name}'></ui-gmap-marker> -->
            <!-- </ui-gmap-google-map> -->
        </div>
    </div>
    <!--- <div class="row" ng-show="locationIsChosen.active">
        <div class="tabs-wrapper">
            <ul class="nav nav-tabs tabs-3 blue">
              <li class="nav-item" role="presentation" class="active"><a href="#">Home</a></li>
              <li class="nav-item" role="presentation"><a href="#">Profile</a></li>
              <li class="nav-item" role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
    </div> -->
</div>
