<div ng-controller="LocationDataContentCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <select class="form-control" ng-model="selectedDataSource" ng-options="x for x in dataSources" ng-change="changedValue()" ng-init="selectedDataSource = dataSources[0]"></select>
                <input date-range-picker ng-model="datePicker.date" class="form-control date-picker" type="text" options="datePickerOptions"/>
            </div>
            <div ng-show="activeParameterMeasurementType === 'parameter'" id="chart-container">
                <highchart id="parameter-chart" config="chartConfig"></highchart>
            </div>
            <div ng-show="activeParameterMeasurementType === 'profile'" id="heatmap-chart-container"></div>
            <div class="table-responsive" ui-if="parametersLoadingIsDone && activeLocationModel.locationLoadingDataIsDone">          
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Station</th>
                            <th>{[ activeParameterName ]} ({[ activeParameterUnit ]})</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="measurement in location_parameter_data">
                            <td>{[ measurement.date | date:'yyyy-MM-dd HH:mm:ss Z' ]}</td>
                            <td>{[ measurement.station_name ]}</td>
                            <td>{[ measurement.avg_value | setDecimal:2 ]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ng-show="activeParameterMeasurementType === 'parameter'" id="location-chart-container">
                <highchart id="location-parameter-chart" config="locationChartConfig"></highchart>
            </div>
            <div class="table-responsive" ui-if="parametersLoadingIsDone && activeLocationModel.locationLoadingDataIsDone">          
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Station</th>
                            <th>{[ activeParameterName ]} ({[ activeParameterUnit ]})</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="measurement in location_parameter_data">
                            <td>{[ measurement.date | date:'yyyy-MM-dd HH:mm:ss Z' ]}</td>
                            <td>{[ measurement.station_name ]}</td>
                            <td>{[ measurement.avg_value | setDecimal:2 ]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
