<!-- {% extends 'base.html' %} -->

<!-- {% block extracss %} -->
<!-- {% endblock %} -->

<!-- {% block collapsiblesection %} -->
    <div class="collapsible-section-tabs" style="margin-top: 0px;">
        <div class="header-background full-site-width">
            <!-- <div class="header-map-view-toggle-container full-site-width"> -->
                <!-- <div class="header-map-view-nav"> -->
                <!-- </div> -->
            <!-- </div> -->
            <div class="header-tabs-container full-site-width">
                <nav class="header-tabs-nav overflow-tabs-scroll-wrapper">
                    <ul class="nav-tab-list overflow-tabs-scroll" style="min-width: 681px; left: 0px;">
                        <li class="nav-tab-container">
                            <a href="#" class="nav-tab">Overview</a>
                        </li>
                        <li class="nav-tab-container">
                            <a href="#" class="nav-tab active">Data</a>
                        </li>
                        <li class="nav-tab-container">
                            <a href="#" class="nav-tab">Cams & Photos</a>
                        </li>
                        <ul class="nav tab-container-map-toggle navbar-right">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Map View
                                    <div class="material-switch pull-right">
                                        <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="collapsible-section-info" style="margin-top: 0px;">
        <div class="header-background full-site-width">
            <div class="header-info-container full-site-width">
                <div class="header-info-description-row">
                    <div class="header-info-description">
                        Research at the Erken Laboratory focuses on the long-term monitoring of water quality, climate effects on aquatic systems, circulation of nutrients, population and community dynamics in lakes.
                    </div>
                </div>
                <div class="header-info-button-row">
                    <a href="#" class="button button-text-white" data-category="getStarted" data-action="buttonClick" data-label="hero">Learn More</a>
                </div>
            </div>
        </div>
    </div>
<!-- {% endblock %} -->


<!-- {% block content %} -->
     <div class="page-content">
        <div class="row" id="locations-container" ng-repeat="location in locations">
            <div class="row user-menu-container square" data="{[ location.id ]}">
                <div class="col-md-12 user-details">
                    <div class="row coralbg white">
                        <div class="col-md-6 no-pad">
                            <div class="user-pad">
                                <h3>{[ location.name ]}</h3>
                                <h4 class="white"><i class="fa fa-location-arrow fa-fw"></i> {[ location.position.latitude ]}, {[ location.position.longitude ]}</h4>
                                <h4 class="white"><i class="fa fa-leaf fa-fw"></i> {[ location.environment_category ]} </h4>
                                <button type="button" class="btn btn-labeled btn-info" href="#">
                                    <span class="btn-label"><i class="fa fa-globe fa-fw"></i></span>View</button>
                            </div>
                        </div>
                        <div class="col-md-6 no-pad">
                            <div ng-repeat="location_image in location.images" class="user-image">
                                <img data-ng-src="data:image/png;base64, {[ location_image ]}" class="img-responsive thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 user-menu-btns">
                    <div class="btn-group-vertical square" id="responsive">
                        <a href="#" class="btn btn-block btn-default active">
                            <i class="fa fa-info fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-map-marker fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-video-camera fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-bolt fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 user-menu user-pad">
                    <div class="user-menu-content active">
                        <div class="google-map">
                            <div ng-controller="StartLocationController" id="{[ location.id ]}-map" class="map-overview"></div>
                        </div>
                        <h3>Location Information</h3>
                        <p>{[ location.description.short_description ]}</p>
                    </div>
                    <div class="user-menu-content">
                        <div>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li class="dropdown-header">Parameters</li>
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="container"></div>
                            <div class="table-responsive">
                                <table id="mytable" class="table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="checkall"></th>
                                            <th>Time</th>
                                            <th>Station</th>
                                            <th>Sensor</th>
                                            <th>Value</th>
                                            <th>Unit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" class="checkthis"></td>
                                            <td>2016-06-06 14:33:12</td>
                                            <td>Malma Island</td>
                                            <td>Thermocouple</td>
                                            <td>23.6</td>
                                            <td>°C</td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- '<div class="clearfix"></div><ul class="pagination pull-right"><li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li></ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- {% endblock %} -->
