body {
    background-color: #0796D4;
    font: 400 16px/24px Roboto,sans-serif;
}

a {
    color: #f8f4f1;
    text-decoration: none;
    background-color: transparent;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

a[ng-click]{
    cursor: pointer;
}

:link, :visited {
    color: #f8f4f1;
    outline: 0;
    text-decoration: none;
}

.navbar-default {
    background-color: #292929;
    border: none;
}

.navbar-header {
    margin-left: 15px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2d5b7c;
}

.brand-container {
    display: inline-block;
    flex: 0 0 auto;
    height: 36px;
    margin: 7px 0;
}

.brand-link {
    opacity: 1;
    transition: opacity .2s;
}

.brand-link:hover, brand-link:focus {
    opacity: .7;
    text-decoration: none;
}

.brand-logo-container {
    display: inline-block;
    border-radius: 80%;
    background-color: #fff;
    height: 36px;
    margin-right: 8px;
    width: 36px;
}

.brand-logo {
    color: inherit;
    font-size: 24px;
    height: 36px;
    /* margin: 6px; */
    width: 36px;
}

.brand-name {
    color: #fff;
    display: inline-block;
    font: 20px/36px Roboto,sans-serif;
    letter-spacing: 0;
    margin: 0;
    vertical-align: top;
    white-space: nowrap;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

@media(min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 280px;
        margin-top: 50px;
    }
}

/*.navbar-default .sidebar {
    background-color: #0796D4;
}*/

.sidebar-nav {
    /*background-color: inherit;*/
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav .dropdown-header {
    color: #b5afbd;
    padding-left: 15px;
    font: bold 14px/24px Roboto,sans-serif;
}

.sidebar-nav .dropdown-header-second-level {
    color: #b5afbd;
    padding-left: 30px;
    font: bold 14px/24px Roboto,sans-serif;
}

.sidebar-nav li a {
    display: block;
    color: #f8f4f1;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    font: 300 14px/32px Roboto,sans-serif;
}

.sidebar-nav li a span {
    float: right;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border: none;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: inherit;
    box-shadow: none;
}

.sidebar-nav .dropdown-menu>li>a {
    padding-left: 30px;
}

.sidebar-nav .dropdown-menu>li>a:focus, .sidebar-nav .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

#page-wrapper {
    background-color: #f7f7f7;
    overflow: auto;
    padding: 0;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 280px;
        /*padding: 0 30px;*/
        /*border-left: 1px solid #e7e7e7;*/
    }
}

.google-map {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    /*position: absolute;*/
}

.angular-google-map {
    width: 100%;
    height: 400px;
}

#location-info-map {
    width: 100%;
    height: 380px;
}

.row {
    margin: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.location-nav .nav {
    text-align: center;
    border: 0;
    padding: .7rem;
    /* margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px; */
    z-index: 2;
    position: relative;
}


.tabs-3 li {
    width: 33.3%;
}

.tabs-4 li {
    width: 25%;
}

.location-nav .nav .nav-item {
    float: left;
    margin-bottom: -1px;
}

.location-nav .nav-item a {
    font-family: 'Roboto', sans-serif;
}

.location-nav .nav-tabs>li>a:focus, .location-nav .nav-tabs>li>a:hover {
    border-color: transparent;
}

.location-nav .nav-tabs>li.active>a, .location-nav .nav-tabs>li.active>a:focus, .location-nav .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #75C5E7;
    border: 0;
    cursor: default;
}

.blue {
    background-color: #26A1D6;
}

.blue-4 {
    background-color: #4EB0DA;
}

.red {
    color: #FF3100;
}
 
.white {
    color: #f8f4f1;
}

.test {
    padding: 24px;
}

.test span {
    line-height: 20px;
    font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
}

/*.panel {
    border-radius: 0;
}*/

/*.panel span {
    font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
}*/

.section-header {
    border-bottom: 1px solid #ebebeb;
    font: 300 24px/32px Roboto,sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    padding-bottom: 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.row-eq-height div {
    padding: 0;
}

#location-images-carousel {
  position: relative;
  overflow: hidden;
}
#location-images-carousel .slides .slide-1, 
#location-images-carousel .slides .slide-2,
#location-images-carousel .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
    #location-images-carousel,
    #location-images-carousel .slides,
    #location-images-carousel .slides .slide-1, 
    #location-images-carousel .slides .slide-2,
    #location-images-carousel .slides .slide-3 {
      height: 380px;
    }

#location-images-carousel .carousel-inner .item .carousel-caption {
  top: 5%;
  bottom: inherit;
}
#location-images-carousel .carousel-inner .item .img-responsive {
    height: 380px;
    width: 100%;
}


 #accordion .glyphicon { margin-right:10px; }
      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}

.main-content {
    background-color: #f7f7f7;
    margin-top: 25px;
}

.panel {
    overflow: auto;
    border-radius: 0;
}

.panel .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel .nav-tabs {
    border-bottom: none;
}

/* .data-section-nav {
    background-color: #f7f7f7;
    padding: 16px 12px 16px 16px;
}

.data-section-nav li {
    background-color: inherit;
    border: 0;
}

.data-section-nav li a {
    color: #222;
    font-family: 'Roboto', sans-serif;
}
*/

/*.page-content-nav {
    background-color: #f7f7f7;
    padding: 16px 12px 16px 16px;
}*/

.page-content-nav ul {
    padding: 0;
}

.page-content-nav ul li {
    background-color: inherit;
    border: 0;
    list-style: none;
    font-size: 13px;
}

.page-content-nav .dropdown-header {
    font-weight: bold;
}

.page-content-nav ul li a {
    color: #222;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 16px;
    white-space: normal;
}

highchart {
    width: 100% !important;
    display: block;
}

.highcharts-title {
    font-family: 'Roboto', sans-serif;
}

.page-content-top-nav {
    overflow: auto;
}

.navbar-data {
    background-color: inherit;
}

.navbar-inner {
    overflow: auto;
    padding: 8px;
    text-align:center;
}

.navbar-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.data-view-selector .btn {
    color: #222;
    border: 1px solid #ccc;
}

.data-view-selector .btn.active {
    background-color: #75C5E7;
    color: #fff;
}

.card {
    -webkit-box-shadow: 0 1px 1px 0 rgba(55,63,78,.12);
    display: block;
    position: relative;
    margin-bottom: 1.875rem;
    box-shadow: 0 1px 1px 0 rgba(55,63,78,.12);
    border: 0 solid rgba(55,63,78,.12);
    background-color: #fff;
}

.card-header {
    display: block;
    position: relative;
    background-color: #fff;
    overflow: auto;
}

.card-title {
    margin-bottom: 0;
    background-color: #fff;
    padding: 1rem;
    color: #373f4e;
    line-height: 1;
}

.card-header .card-title {
    float: left;
    background-color: transparent;
    /* font-size: 1rem; */
}

.card-divider {
    border-top: 1px solid rgba(55,63,78,.12);
}

.card:not(.card-block)>.card-divider {
    margin: 0 1rem;
}

.card-body {
    padding: 1rem;
}

.page-content-nav label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.page-content-nav input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-content-nav input[type="checkbox"]:empty {
    display: none;
}

.page-content-nav input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.page-content-nav input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #fff;
    background-color: #75C5E7;
}
