<md-content class="md-padding" layout-xs="column" layout="row">
    
    <div flex-xs flex-gt-xs="75" layout="column">
        <md-card>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Global Options</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-card-content layout="column">
                <md-card-actions layout="column" layout-align="space-around center">
                    <div layout="row" layout-align="space-between center" layout-fill>
                        <span>Data Source</span>
                        <md-select ng-model="stationDataVm.dataSourcesModel.selectedDataSource" ng-change="stationDataVm.changeDataSource()"
                            class="md-no-underline">
                          <md-option 
                              ng-repeat="source in stationDataVm.dataSourcesModel.dataSources" value="{[ source ]}">{[ source ]}</md-option>
                        </md-select>
                    </div>
                    <div layout="row" layout-align="space-between center" layout-fill>
                        <span>Time Range</span>
                        <md-select ng-model="stationDataVm.timeOptionsModel.selectedTimeOption" ng-change="stationDataVm.timeOptionChange()" class="md-no-underline">
                          <md-option 
                              ng-repeat="(timeoption, timevalue) in stationDataVm.timeOptionsModel.timeOptions" value="{[ timeoption ]}">{[ timeoption ]}</md-option>
                        </md-select>
                    </div>
                    <div ng-show="stationDataVm.isTimeOption('Custom Range')" layout="column" layout-align="space-between center" layout-fill>
                        <div layout="row" layout-align="space-between center" layout-fill>
                            <div class="range">
                              <md-input-container>
                                <label>Start Date/Time</label>
                                <input mdc-datetime-picker date="true" time="true" type="text"
                                       placeholder="Date" min-date="stationDataVm.minDate"
                                       ng-model="stationDataVm.datePickerMasterModel.startDate">
                                </input>
                              </md-input-container>
                              <md-input-container>
                                <label>End Date/Time</label>
                                <input mdc-datetime-picker date="true" time="true" type="text"
                                       placeholder="Date" max-date="stationDataVm.maxDate"
                                       ng-model="stationDataVm.datePickerMasterModel.endDate">
                                </input>
                              </md-input-container>
                            </div>
                            <md-button class="md-raised md-primary" ng-click="stationDataVm.applyCustomTimeRange()">Apply</md-button>
                        </div>
                    </div>
                </md-card-actions>
            </md-card-content>
        </md-card>

        <ui-view></ui-view>

    </div>
    
    <div flex-xs flex-gt-xs="25" layout="column">
        
        <div flex layout="column">
            <md-card>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>View</span>
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <div layout="column" layout-align="space-around">
                        <md-radio-group ng-model="stationDataVm.viewMode">
                          <md-radio-button value="Charts" ui-sref=".charts" ng-class="{'md-primary': stationDataVm.isViewMode('Charts')}">Charts</md-radio-button>
                          <md-radio-button value="Tables" ui-sref=".tables" ng-class="{'md-primary': stationDataVm.isViewMode('Tables')}">Tables</md-radio-button>
                        </md-radio-group>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>Parameters</span>
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <md-list>
                        <md-list-item ng-repeat="parameter in stationDataVm.parameterSelection">
                            <p>{[ parameter.parameter_name ]} ({[ parameter.measurement_type_name ]})</p>
                            <md-checkbox class="md-secondary" ng-model="parameter.selected"
                                ng-change="stationDataVm.changeSelection()">
                            </md-checkbox>
                          </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

        </div>

    </div>

</md-content>
