<md-card>
    
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">{[ stationDataGroupItemVm.group.group_name ]}</span>
        </md-card-title-text>
    </md-card-title>
    <!-- <md-tabs md-selected="stationDataGroupItemVm.group.frequencies.selected" 
        md-border-bottom md-stretch-tabs="always">
        <md-tab ng-repeat="frequency in stationDataGroupItemVm.group.frequencies.list"
            label="{[ frequency ]}">
             md-on-select="stationDataGroupItemVm.frequencyChange(frequency)"
        </md-tab>
    </md-tabs> -->
    <!-- <md-nav-bar md-selected-nav-item="stationDataGroupItemVm.group.frequencies.selected"
        nav-bar-aria-label="data frequency navigation links">
        <md-nav-item ng-repeat="frequency in stationDataGroupItemVm.group.frequencies.list" 
            md-nav-click="stationDataGroupItemVm.frequencyChange(frequency)" name="{[ frequency ]}">
            {[ frequency ]}
        </md-nav-item>
    </md-nav-bar> -->
    <md-card-content>
        
        <div id="chart-{[ stationDataGroupItemVm.group.group_id ]}" style="height: 400px; min-width: 600px"></div>
        
        <md-divider></md-divider>
        
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h2 class="md-title">Averages</h2>
            </div>
        </md-toolbar>
        
        <md-table-container>
            <table md-table>
                <thead ng-if="!stationDataGroupItemVm.averageTableOptions.options.decapitate" md-head 
                    md-order="stationDataGroupItemVm.averageTableOptions.query.order">
                    <tr md-row>
                        <th md-column md-order-by="measurement[stationDataGroupItemVm.averageTableOptions.query.order]">
                            <span>{[ stationDataGroupItemVm.averageTableOptions.query.label ]}</span>
                        </th>
                        <th md-column ng-repeat="groupParameter in stationDataGroupItemVm.group.parameters.list">
                            <span ng-if="!groupParameter.parameter_unit">{[ groupParameter.parameter_name ]}</span>
                            <span ng-if="groupParameter.parameter_unit">{[ groupParameter.parameter_name ]} ({[ groupParameter.parameter_unit ]})</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="measurement in stationDataGroupItemVm.averageTableOptions.data | filter: filter.search | orderBy: stationDataGroupItemVm.averageTableOptions.query.order | limitTo: stationDataGroupItemVm.query.averageTableOptions.limit : (stationDataGroupItemVm.averageTableOptions.query.page -1) * stationDataGroupItemVm.averageTableOptions.query.limit" 
                        md-select="measurement" md-auto-select="stationDataGroupItemVm.averageTableOptions.options.autoSelect">
                        <td md-cell>{[ measurement[stationDataGroupItemVm.averageTableOptions.query.order] | date: stationDataGroupItemVm.averageTableOptions.query.dateFormat ]}</td>
                        <td md-cell ng-repeat="groupParameter in stationDataGroupItemVm.group.parameters.list">
                            {[ measurement.data[groupParameter.parameter_id].avg_value | number: 2 ]}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        
        <md-divider></md-divider>
        
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h2 class="md-title">Minimums</h2>
            </div>
        </md-toolbar>
        
        <md-table-container>
            <table md-table>
                <thead ng-if="!stationDataGroupItemVm.minimumTableOptions.options.decapitate" md-head md-order="stationDataGroupItemVm.minimumTableOptions.query.order">
                    <tr md-row>
                        <th md-column md-order-by="stationDataGroupItemVm.minimumTableOptions.query.order">
                            <span>{[ stationDataGroupItemVm.averageTableOptions.query.label ]}</span>
                        </th>
                        <th md-column ng-repeat="groupParameter in stationDataGroupItemVm.group.parameters.list">
                            <span ng-if="!groupParameter.parameter_unit">{[ groupParameter.parameter_name ]}</span>
                            <span ng-if="groupParameter.parameter_unit">{[ groupParameter.parameter_name ]} ({[ groupParameter.parameter_unit ]})</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="measurement in stationDataGroupItemVm.minimumTableOptions.data | filter: filter.search | orderBy: stationDataGroupItemVm.minimumTableOptions.query.order | limitTo: stationDataGroupItemVm.query.minimumTableOptions.limit : (stationDataGroupItemVm.minimumTableOptions.query.page -1) * stationDataGroupItemVm.minimumTableOptions.query.limit" 
                        md-select="measurement" md-auto-select="stationDataGroupItemVm.minimumTableOptions.options.autoSelect">
                        <td md-cell>{[ measurement[stationDataGroupItemVm.minimumTableOptions.query.order] | date: stationDataGroupItemVm.minimumTableOptions.query.dateFormat ]}</td>
                        <td md-cell ng-repeat="groupParameter in stationDataGroupItemVm.group.parameters.list">
                            {[ measurement.data[groupParameter.parameter_id].min_value | number: 2 ]}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        
        <md-divider></md-divider>
        
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h2 class="md-title">Maximums</h2>
            </div>
        </md-toolbar>
        
        <md-table-container>
            <table md-table>
                <thead ng-if="!stationDataGroupItemVm.maximumTableOptions.options.decapitate" md-head md-order="stationDataGroupItemVm.maximumTableOptions.query.order">
                    <tr md-row>
                        <th md-column md-order-by="stationDataGroupItemVm.maximumTableOptions.query.order">
                            <span>{[ stationDataGroupItemVm.averageTableOptions.query.label ]}</span>
                        </th>
                        <th md-column ng-repeat="groupParameter in stationDataGroupItemVm.group.parameters.list">
                            <span ng-if="!groupParameter.parameter_unit">{[ groupParameter.parameter_name ]}</span>
                            <span ng-if="groupParameter.parameter_unit">{[ groupParameter.parameter_name ]} ({[ groupParameter.parameter_unit ]})</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="measurement in stationDataGroupItemVm.maximumTableOptions.data | filter: filter.search | orderBy: stationDataGroupItemVm.maximumTableOptions.query.order | limitTo: stationDataGroupItemVm.query.maximumTableOptions.limit : (stationDataGroupItemVm.maximumTableOptions.query.page -1) * stationDataGroupItemVm.maximumTableOptions.query.limit" 
                        md-select="measurement" md-auto-select="stationDataGroupItemVm.maximumTableOptions.options.autoSelect">
                        <td md-cell>{[ measurement[stationDataGroupItemVm.maximumTableOptions.query.order] | date: stationDataGroupItemVm.maximumTableOptions.query.dateFormat ]}</td>
                        <td md-cell ng-repeat="groupParameter in stationDataGroupItemVm.group.parameters.list">
                            {[ measurement.data[groupParameter.parameter_id].max_value | number: 2 ]}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        
        <md-divider></md-divider>
        
    </md-card-content>

</md-card>
