<md-table-container>
    <table md-table>
        <thead ng-if="!tableGroupVm.options.decapitate" md-head md-order="tableGroupVm.query.order">
            <tr md-row>
                <th md-column md-order-by="timestamp"><span>Date & Time</span></th>
                <th md-column md-order-by="sensor_name"><span>Sensor</span></th>
                <th md-column md-order-by="parameter_name"><span>Parameter</span></th>
                <th md-column md-numeric md-order-by="value" md-desc>
                    <span ng-if="parameter.parameter_unit">Value ({[ parameter.parameter_unit ]})</span>
                    <span ng-if="!parameter.parameter_unit">Value</span>
                </th>
                <th ng-if="!parameter.parameter_unit" md-column="unit"><span>Unit</span></th>
            </tr>
        </thead>
    <tbody md-body>
        <tr md-row md-select="measurement" md-auto-select="tableGroupVm.options.autoSelect" ng-repeat="measurement in tableGroupVm.measurements | filter: filter.search | orderBy: tableGroupVm.query.order | limitTo: tableGroupVm.query.limit : (tableGroupVm.query.page -1) * tableGroupVm.query.limit">
            <td md-cell>{[ measurement.timestamp | date: 'yyyy-MM-dd HH:mm:ss Z']}</td>
            <td md-cell>{[ measurement.sensor_name ]}</td>
            <td md-cell>{[ measurement.parameter_name ]}</td>
            <td md-cell>{[ measurement.value | number: 2 ]}</td>
            <td ng-if="!parameter.parameter_unit" md-cell>{[ measurement.unit ]}</td>
        </tr>
    </tbody>
    </table>
</md-table-container>
