<md-content class="md-padding">
    
</md-content>

<!-- <div ng-repeat="parameter in stationDataChartsVm.parameterSelection">
    <div ng-if="parameter.selected">
        <div ng-if="stationDataVm.isParameterType(parameter.measurement_type_id, 'group')" ng-include="'/static/partials/station/station-data-charts-group.html'"></div>
        <div ng-if="stationDataVm.isParameterType(parameter.measurement_type_id, 'parameter')" ng-include="'/static/partials/station/station-data-charts-parameter.html'"></div>
        <div ng-if="stationDataVm.isParameterType(parameter.measurement_type_id, 'profile')" ng-include="'/static/partials/station/station-data-charts-profile.html'"></div>
    </div>
</div> -->
