<md-tabs md-selected="stationDataVm.measurementTypeMode" md-border-bottom md-autoselect md-stretch-tabs="always">
    <md-tab ui-sref=".groups">
        By Group
    </md-tab>
    <md-tab ui-sref=".parameters">
        By Parameter
    </md-tab>
    <md-tab ui-sref=".sensors">
        By Sensor
    </md-tab>
</md-tabs>
<ui-view></ui-view>
<!-- <md-tabs md-selected="stationDataVm.viewMode" md-border-bottom md-autoselect>
    <md-tab ui-sref=".charts">
        Charts
    </md-tab>
    <md-tab ui-sref=".tables">
        Tables
    </md-tab>
</md-tabs> -->
