<div ng-controller="LocationData as vm">
     <div class="main-content">
        <div class="row">
        
            <div class="col-sm-9 col-md-9">
                <div ng-model="vm.parameters">{[ vm.parameters ]}</div>
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-data">
                            <div class="navbar-inner">
                            <!-- <div class="page-content-top-nav"> -->
                                <ul class="nav nav-tabs pull-left">
                                    <li>
                                        <select class="form-control" ng-model="vm.selectedDataSource" ng-options="source for source in vm.dataSources" ng-change="vm.changeGlobalDataSource()"></select>
                                    </li>
                                </ul>
                                <ul class="nav nav-tabs navbar-center">
                                    <li>
                                        <input date-range-picker ng-model="vm.datePicker.date" class="form-control date-picker" type="text" options="vm.datePickerOptions"/>
                                    </li>
                                </ul>
                                <ul class="nav nav-tabs pull-right">
                                    <li>
                                        <div class="btn-group data-view-selector">
                                            <!-- <a ng-click="changeDataViewContent('charts')" ng-class="{ 'active' : isDataViewSet('charts') }" class="btn"> -->
                                                <a ui-sref=".charts" class="btn"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                                            <!-- </a> -->
                                            <!-- <a ng-click="changeDataViewContent('tables')" ng-class="{ 'active' : isDataViewSet('tables') }" class="btn"> -->
                                                <a ui-sref=".tables" class="btn"><i class="fa fa-table fa-fw"></i> Tables</a>
                                            <!-- </a> -->
                                        </div>
                                    </li>
                                </ul>
                            <!-- </div> -->
                            </div>
                        </nav>
                    </div>
                </div>
                
                <div ui-view></div>
            </div>
            
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="page-content-nav">
                            <ul>
                                <li class="dropdown-header">Parameters</li>
                                <!-- <li ng-repeat="parameter in vm.parameters">
                                    <input type="checkbox" value="{[ parameter.parameter_id ]}" ng-model="parameter.selected"></input>
                                    <label>{[ parameter.parameter_name ]}</label>
                                </li> -->
                                <li ng-repeat="parameter in vm.parameters">
                                    <label>
                                        <input type="checkbox" value="{[ parameter.parameter_id ]}" ng-model="parameter.selected" ng-change="vm.changeGlobalParameterSelection(vm.parameters)"></input>
                                            {[ parameter.parameter_name ]}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
