<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <div class="page-content-nav">
                <ul>
                    <li class="dropdown-header">Parameters</li>
                    {[ locationDataVm.parameterSelection ]}
                    <li ng-repeat="(parameter, enabled) in locationDataVm.parameterSelection">
                        <label>
                            <input type="checkbox" ng-model="locationDataVm.parameterSelection[parameter]"> {[ locationDataVm.parameters[parameter].parameter_name ]} 
                        </label>
                    </li>
                    <!-- <li ng-repeat="(parameter, selected) in locationDataVm.parameterSelection">
                        {[ parameter ]}, {[ selected ]}
                        <input type="checkbox" ng-model="locationDataVm.parameterSelection[parameter]"></input>
                        <label>{[ locationDataVm.parameters[parameter].parameter_name ]}</label>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
