<div>
    <div class="blue">
        <div class="test">
            <div class="row">
                <h3 class="white" ng-model="vm.location.location_name">{[ vm.location.location_name ]}</h3>
                <h4 class="white" ng-model="vm.location.location_position"><i class="fa fa-location-arrow fa-fw"></i> {[ vm.location.location_position.latitude ]}, {[ vm.location.location_position.longitude ]}</h4>
                <h4 class="white" ng-model="vm.location.location_environment_category"><i class="fa fa-leaf fa-fw"></i> {[ vm.location.location_environment_category ]} </h4>
            </div>
        </div>
        <div class="row">
            <div class="location-nav">
                <div class="tabs-wrapper">
                    <ul class="nav nav-tabs tabs-4 blue-4">
                      <li class="nav-item" ng-class="{ active: vm.isSet('location-overview') }">
                          <a ui-sref=".overview" ng-click="vm.changeTabContent('location-overview')"><i class="fa fa-info fa-fw"></i> Overview</a>
                      </li>
                      <li class="nav-item" ng-class="{ active: vm.isSet('location-data') }">
                          <a ui-sref=".data" ng-click="vm.changeTabContent('location-data')"><i class="fa fa-bar-chart-o fa-fw"></i> Data</a>
                      </li>
                      <li class="nav-item" ng-class="{ active: vm.isSet('location-cams-and-photos') }">
                          <a ui-sref=".cams-and-photos" ng-click="vm.changeTabContent('location-cams-and-photos')"><i class="fa fa-video-camera fa-fw"></i> Cams & Photos</a>
                      </li>
                      <li class="nav-item" ng-class="{ active: vm.isSet('location-status') }">
                          <a ui-sref=".status" ng-click="vm.changeTabContent('location-status')"><i class="fa fa-bolt fa-fw"></i> Status</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="location-tab-content" class="tab-content">
        <div ui-view></div>
    </div>
</div>
