<div ng-repeat="(parameter, isSelected) in locationDataTablesVm.parameterSelection">
    <div ng-if="isSelected">
        <div ng-if="locationDataVm.isParameterType(locationDataVm.parameters[parameter].measurement_type, 'parameter')" 
            ng-include="'/static/partials/location/location-data-tables-parameter.html'"></div>
        <div ng-if="locationDataVm.isParameterType(locationDataVm.parameters[parameter].measurement_type, 'profile')" 
            ng-include="'/static/partials/location/location-data-tables-profile.html'"></div>
    </div>
</div>
