<md-content class="md-padding" layout-xs="column" layout="row">
    
    <div flex-xs flex-gt-xs="75" layout="column">
        <md-card>
            <md-card-content layout="column">
                <h3 class="md-headline">Global Options</h3>
                <md-card-actions layout="column" layout-align="space-around center">
                    <div layout="row" layout-align="space-between center" layout-fill>
                        <span>Data Source</span>
                        <md-select ng-model="locationDataVm.dataSourcesModel.selectedDataSource" ng-change="locationDataVm.changeDataSource()"
                            class="md-no-underline">
                          <md-option 
                              ng-repeat="source in locationDataVm.dataSourcesModel.dataSources" value="{[ source ]}">{[ source ]}</md-option>
                        </md-select>
                    </div>
                    <div layout="row" layout-align="space-between center" layout-fill>
                        <span>Time Range</span>
                        <md-select ng-model="locationDataVm.timeOptionsModel.selectedTimeOption" ng-change="locationDataVm.timeOptionChange()" class="md-no-underline">
                          <md-option 
                              ng-repeat="(timeoption, timevalue) in locationDataVm.timeOptionsModel.timeOptions" value="{[ timeoption ]}">{[ timeoption ]}</md-option>
                        </md-select>
                    </div>
                    <div ng-show="locationDataVm.isTimeOption('Custom Range')" layout="column" layout-align="space-between center" layout-fill>
                        <div layout="row" layout-align="space-between center" layout-fill>
                            <div class="range">
                              <md-input-container>
                                <label>Start Date/Time</label>
                                <input mdc-datetime-picker date="true" time="true" type="text"
                                       placeholder="Date"
                                       ng-model="locationDataVm.datePickerMasterModel.startDate">
                                </input>
                              </md-input-container>
                              <md-input-container>
                                <label>End Date/Time</label>
                                <input mdc-datetime-picker date="true" time="true" type="text"
                                       placeholder="Date"
                                       ng-model="locationDataVm.datePickerMasterModel.endDate">
                                </input>
                              </md-input-container>
                            </div>
                            <md-button class="md-raised md-primary" ng-click="locationDataVm.applyCustomTimeRange()">Apply</md-button>
                        </div>
                    </div>
                </md-card-actions>
            </md-card-content>
        </md-card>

        <ui-view></ui-view>

        <!-- <div data-ng-include="'/static/partials/location/location-data-content.html'"></div> -->
    </div>
    
    <div flex-xs flex-gt-xs="25" layout="column">
        
        <div flex layout="column">
            <md-card>
                <md-card-content>
                    <div layout="column" layout-align="space-around">
                        <!-- <md-button ui-sref=".charts" class="md-raised" ng-class="{md-primary: $state.includes('location.data.charts') }">Charts</md-button>
                        <md-button ui-sref=".tables" class="md-raised" ng-class="{md-primary: $state.includes('location.data.tables') }">Tables</md-button> -->
                        <md-radio-group ng-model="locationDataVm.viewMode">
                          <md-radio-button value="Charts" ui-sref=".charts" ng-class="{'md-primary': locationDataVm.isViewMode('Charts')}">Charts</md-radio-button>
                          <md-radio-button value="Tables" ui-sref=".tables" ng-class="{'md-primary': locationDataVm.isViewMode('Tables')}">Tables</md-radio-button>
                        </md-radio-group>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Parameters</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item ng-repeat="(parameterId, measurementType) in locationDataVm.parameterSelection">
                            {[ locationDataVm.parameters[parameterId] ]}
                            <!-- <p>{[ locationDataVm.parameters[parameterId][measurementType.measurement_type_id].parameter_name ]} 
                                ({[ locationDataVm.parameters[parameterId][measurementType.measurement_type_id].measurement_type_name ]})</p> -->
                            <md-checkbox class="md-secondary" ng-model="locationDataVm.parameterSelection[parameterId]"
                                ng-change="locationDataVm.changeSelection(parameter, locationDataVm.parameterSelection[parameterId])">
                            </md-checkbox>
                          </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

        </div>

        <!-- <div data-ng-include="'/static/partials/location/location-data-sidebar.html'"></div> -->
    </div>

</md-content>
