<div flex="75">
    <md-card>
        <md-card-content layout="row">
            <md-card-actions layout="row" layout-align="start center">
            <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <span>Data Source</span>
                <md-select ng-model="locationDataVm.dataSourcesModel.selectedDataSource" class="md-no-underline">
                  <md-option 
                      ng-repeat="source in locationDataVm.dataSourcesModel.dataSources" value="{[ source ]}">{[ source ]}</md-option>
                </md-select>
            </div>
            <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <span>From Time</span>
                <mdp-date-picker mdp-placeholder="Date" ng-model="locationDataVm.datePickerMasterModel.datePicker.date.startDate"></mdp-date-picker>
                <mdp-time-picker ng-model="locationDataVm.datePickerMasterModel.datePicker.date.startDate"></mdp-time-picker>
                <span>To Time</span>
                <mdp-date-picker mdp-placeholder="Date" ng-model="locationDataVm.datePickerMasterModel.datePicker.date.endDate"></mdp-date-picker>
                <mdp-time-picker ng-model="locationDataVm.datePickerMasterModel.datePicker.date.endDate"></mdp-time-picker>
                <!-- <input date-range-picker ng-model="locationDataVm.datePickerMasterModel.datePicker.date" class="form-control date-picker" 
                    type="text" options="locationDataVm.datePickerMasterModel.datePickerOptions" ng-change="locationDataVm.changeDataSource()"/> -->
            </div>
            <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                 <md-button ui-sref=".charts" class="md-raised" ng-class="{ 'md-primary': $state.includes('location.data.charts') }">Charts</md-button>
                 <md-button ui-sref=".tables" class="md-raised" ng-class="{ 'md-primary': $state.includes('location.data.tables') }">Tables</md-button>
            </div>
            </md-card-actions>
        </md-card-content>
    </md-card>
<!-- </md-content> -->
</div>
<!-- <div class="col-sm-9 col-md-9">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-data">
                <div class="navbar-inner">
                    <ul class="nav nav-tabs pull-left">
                        <li>
                            <select class="form-control" ng-model="locationDataVm.dataSourcesModel.selectedDataSource" ng-options="source for source in locationDataVm.dataSourcesModel.dataSources" ng-change="locationDataVm.changeDataSource()"></select>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs navbar-center">
                        <li>
                            <input date-range-picker ng-model="locationDataVm.datePickerMasterModel.datePicker.date" class="form-control date-picker" type="text" options="locationDataVm.datePickerMasterModel.datePickerOptions"/>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs pull-right">
                        <li>
                            <div class="btn-group data-view-selector">
                                <a ui-sref=".charts" class="btn" ng-class="{ active: $state.includes('location.data.charts') }"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                                <a ui-sref=".tables" class="btn" ng-class="{ active: $state.includes('location.data.tables') }"><i class="fa fa-table fa-fw"></i> Tables</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
    <div ui-view></div>
</div> -->
