<md-toolbar layout="row" layout-align="center end" class="md-primary md-hue-4">
    <div flex flex-sm="100" flex-gt-sm="95" layout="column">
        <h2 flex md-truncate>{[ vm.location.location_name ]}</h2>
        <md-tabs md-stretch-tabs="always" class="md-primary md-hue-2">
          <md-tab label="overview" ui-sref=".overview"></md-tab>
          <md-tab label="data" ui-sref=".data"></md-tab>
          <md-tab label="cams & photos" ui-sref=".cams-and-photos"></md-tab>
          <md-tab label="status" ui-sref=".status"></md-tab>
        </md-tabs>
    </div>
</md-toolbar>

<div ui-view></div>

