<md-content class="md-padding" layout="column">
    
    <div layout="row" layout-xs="column">
        
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img data-ng-src="data:image/png;base64, {[ locationOverviewVm.location.location_image ]}" class="md-card-image" alt="{[ locationOverviewVm.location.location_name ]}">
            </md-card>
            <md-card>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>Location Info</span>
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <div layout="row" layout-align="space-between center">
                        <p class="md-body-2">Environment Category: </p><p class="md-body-2">{[ locationOverviewVm.location.location_environment_category ]}</p>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <p class="md-body-2">Position (WGS84): </p><p class="md-body-2">{[ locationOverviewVm.location.location_position.latitude ]}, {[ locationOverviewVm.location.location_position.longitude ]}</p>
                    </div>
                    <h4 class="title">Description </h4><p class="md-body-2">{[ locationOverviewVm.location.location_description.long_description ]}</p>
                </md-card-content>
            </md-card>
        </div>
        
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img class="md-card-image">
                    <div class="google-map">
                        <ui-gmap-google-map ng-if="locationOverviewVm.map.showMap" center='locationOverviewVm.map.center' options='locationOverviewVm.mapOptions' zoom='locationOverviewVm.map.zoom' idKey="location-google-map">
                            <ui-gmap-markers
                                models="locationOverviewVm.markers"
                                type="'cluster'"
                                coords="'self'"
                                icon="'icon'"
                                idkey="'key'"
                                options="'options'"
                                typeOptions="locationOverviewVm.clusterOptions"
                                fit="true">
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </img>
            </md-card>
        </div>

    </div>

    <div layout="column" flex>
        <md-card>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Stations</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-content>
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="station in locationOverviewVm.stations" ng-click="null">
                            <img class="md-avatar" data-ng-src="data:image/png;base64, {[ station.station_image ]}"/>
                            <div class="md-list-item-text" layout="column">
                                <h3>{[ station.station_name ]}</h3>
                                <h4>{[ station.station_environment_category ]}</h4>
                                <p>{[ station.station_description.short_description ]}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
        <!-- <h2>Stations</h2>
        <div layout-xs="column" layout="row" layout-wrap>
            <md-card ng-repeat="station in locationOverviewVm.stations" flex-xs="100" flex-gt-xs="50" flex-gt-md="33">
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" data-ng-src="data:image/png;base64, {[ station.station_image ]}"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{[ station.station_name ]}</span>
                        <span class="md-subhead">{[ station.station_environment_category ]}</span>
                    </md-card-header-text>
                </md-card-header>
                <img data-ng-src="data:image/png;base64, {[ station.station_image ]}" class="md-card-image" alt="{[ station.station_name ]}">
            </md-card>
        </div> -->
    </div>
</md-content>
