<div class="col-sm-9 col-md-9">
    <!-- <div class="row">
        <h2 class="page-header">Sensor Status</h2>
        <div ng-controller="LocationStatusSensors as sensorStatusVm">
            <div class="card">
                <div class="card-content">
                    <table datatable="locationSensorStatus" dt-options="sensorStatusVm.sensorStatusTable.dtOptions" dt-columns="sensorStatusVm.sensorStatusTable.dtColumns" class="row-border hover"></table>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-data">
                <div class="navbar-inner">
                    <ul class="nav nav-tabs pull-left">
                        <li>
                            <select class="form-control" ng-model="locationStatusVm.dataSourcesModel.selectedDataSource" ng-options="source for source in locationStatusVm.dataSourcesModel.dataSources" ng-change="locationStatusVm.changeDataSource()"></select>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs navbar-center">
                        <li>
                            <input date-range-picker ng-model="locationStatusVm.datePickerMasterModel.datePicker.date" class="form-control date-picker" type="text" options="locationStatusVm.datePickerMasterModel.datePickerOptions"/>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs pull-right">
                        <li>
                            <div class="btn-group data-view-selector">
                                <a ui-sref=".charts" class="btn" ng-class="{ active: $state.includes('location.status.charts') }"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                                <a ui-sref=".tables" class="btn" ng-class="{ active: $state.includes('location.status.tables') }"><i class="fa fa-table fa-fw"></i> Tables</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
    <div ui-view></div>
</div>
