<div ng-controller="LocationDataTablesGroupCtrl as tableGroupVm" 
    ng-init="tableGroupVm.initTableParameter(locationDataVm.parameters[parameter.parameter_id][parameter.measurement_type_id])">
    <md-content>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{[ parameter.parameter_name ]} ({[ parameter.measurement_type_name ]})</span>
                    <span class="md-subhead">{[ locationDataVm.dataSourcesModel.selectedDataSource ]}</span>
                </md-card-header-text>
            </md-card-header>
                <md-card-content>
                    <div layout="column" layout-align="space-around">
                        <div ng-if="locationDataVm.isDataSource('Daily')" ng-include="'/static/partials/location/location-data-tables-group-daily.html'"></div>
                        <div ng-if="locationDataVm.isDataSource('Hourly')" ng-include="'/static/partials/location/location-data-tables-group-hourly.html'"></div>
                        <div ng-if="locationDataVm.isDataSource('High Frequency')" ng-include="'/static/partials/location/location-data-tables-group-high-frequency.html'"></div>
                        <md-table-pagination md-limit="tableGroupVm.query.limit" 
                            md-limit-options="tableGroupVm.limitOptions" md-page="tableGroupVm.query.page" 
                            md-total="{[ tableGroupVm.measurements.length ]}" md-page-select="tableGroupVm.options.pageSelect" 
                            md-boundary-links="tableGroupVm.options.boundaryLinks">
                        </md-table-pagination>
                    </div>
                </md-card-content>
        </md-card>
    </md-content>
</div>
