<div flex layout="column">
    <md-card>
        <md-card-content>
            <div layout="row" layout-align="space-around center">
                <md-button ui-sref=".charts" class="md-raised" ng-class="{ 'md-primary': $state.includes('location.data.charts') }">Charts</md-button>
                <md-button ui-sref=".tables" class="md-raised" ng-class="{ 'md-primary': $state.includes('location.data.tables') }">Tables</md-button>
            </div>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Parameters</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item ng-repeat="(parameter, enabled) in locationDataVm.parameterSelection">
                    <p>{[ locationDataVm.parameters[parameter].parameter_name ]}</p>
                    <md-checkbox class="md-secondary" ng-model="locationDataVm.parameterSelection[parameter]"
                        ng-change="locationDataVm.changeSelection(parameter, locationDataVm.parameterSelection[parameter])">
                    </md-checkbox>
                  </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
