<md-card>
    <md-card-content layout="column">
        <md-card-actions layout="column" layout-align="space-around center">
            <div layout="row" layout-align="space-around center" layout-fill>
                <span>Data Source</span>
                <md-select ng-model="locationDataVm.dataSourcesModel.selectedDataSource" class="md-no-underline">
                  <md-option 
                      ng-repeat="source in locationDataVm.dataSourcesModel.dataSources" value="{[ source ]}">{[ source ]}</md-option>
                </md-select>
            </div>
            <div layout="row" layout-align="space-around center" layout-fill>
                <span>Time</span>
                <md-select ng-model="locationDataVm.timeOptionsModel.selectedTimeOption" class="md-no-underline">
                  <md-option 
                      ng-repeat="(timeoption, timevalue) in locationDataVm.timeOptionsModel.timeOptions" value="{[ timeoption ]}">{[ timeoption ]}</md-option>
                </md-select>
            </div>
            <div layout="column" layout-align="space-around center" layout-fill>
                <div layout="row" layout-align="space-around center" layout-fill>
                    <span>From Time</span>
                    <mdp-date-picker mdp-placeholder="Date" ng-model="locationDataVm.datePickerMasterModel.startDate"></mdp-date-picker>
                    <mdp-time-picker mdp-placeholder="Time" ng-model="locationDataVm.datePickerMasterModel.startDate"></mdp-time-picker>
                </div>
                <div layout="row" layout-align="space-around center" layout-fill>
                    <span>To Time</span>
                    <mdp-date-picker mdp-placeholder="Date" ng-model="locationDataVm.datePickerMasterModel.endDate"></mdp-date-picker>
                    <mdp-time-picker mdp-placeholder="Time" ng-model="locationDataVm.datePickerMasterModel.endDate"></mdp-time-picker>
                </div>
                <!-- <input date-range-picker ng-model="locationDataVm.datePickerMasterModel.datePicker.date" class="form-control date-picker" 
                    type="text" options="locationDataVm.datePickerMasterModel.datePickerOptions" ng-change="locationDataVm.changeDataSource()"/> -->
            </div>
        </md-card-actions>
    </md-card-content>
</md-card>
<!-- </md-content> -->
<!-- <div class="col-sm-9 col-md-9">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-data">
                <div class="navbar-inner">
                    <ul class="nav nav-tabs pull-left">
                        <li>
                            <select class="form-control" ng-model="locationDataVm.dataSourcesModel.selectedDataSource" ng-options="source for source in locationDataVm.dataSourcesModel.dataSources" ng-change="locationDataVm.changeDataSource()"></select>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs navbar-center">
                        <li>
                            <input date-range-picker ng-model="locationDataVm.datePickerMasterModel.datePicker.date" class="form-control date-picker" type="text" options="locationDataVm.datePickerMasterModel.datePickerOptions"/>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs pull-right">
                        <li>
                            <div class="btn-group data-view-selector">
                                <a ui-sref=".charts" class="btn" ng-class="{ active: $state.includes('location.data.charts') }"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                                <a ui-sref=".tables" class="btn" ng-class="{ active: $state.includes('location.data.tables') }"><i class="fa fa-table fa-fw"></i> Tables</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
    <div ui-view></div>
</div> -->
