<div ng-controller="LocationDataCtrl">
    <div class="main-content">
        <div class="row">
        
            <div class="col-sm-9 col-md-9">
                <div ng-show="selection.length > 0">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="navbar navbar-data">
                                <div class="navbar-inner">
                                <!-- <div class="page-content-top-nav"> -->
                                    <ul class="nav nav-tabs pull-left">
                                        <li>
                                            <select class="form-control" ng-model="selectedDataSource" ng-options="source for source in dataSources" ng-change="changedDataSource()" ng-init="selectedDataSource = dataSources[0]"></select>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-tabs navbar-center">
                                        <li>
                                            <input date-range-picker ng-model="datePicker.date" class="form-control date-picker" type="text" options="datePickerOptions"/>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-tabs pull-right">
                                        <li>
                                            <div class="btn-group data-view-selector">
                                                <a ng-click="changeDataViewContent('charts')" ng-class="{ 'active' : isDataViewSet('charts') }" class="btn">
                                                    <i class="fa fa-bar-chart-o fa-fw"></i> Charts
                                                </a>
                                                <a ng-click="changeDataViewContent('tables')" ng-class="{ 'active' : isDataViewSet('tables') }" class="btn">
                                                    <i class="fa fa-table fa-fw"></i> Tables
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                <!-- </div> -->
                                </div>
                            </nav>
                        </div>
                    </div>
                        
                    <div ng-repeat="selectedParameter in selection" ng-controller="LocationParameterCtrl" ng-init="parameterId = selectedParameter">
                        
                        <div ng-show="isDataViewSet('charts')">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title"><i class="fa fa-thermometer-half fa-fw"></i> Daily Average {[ parameterName ]}</h5>
                                        </div>
                                        <div class="card-divider"></div>
                                        <div class="card-body">
                                            <highchart id="location-{[ selectedParameter ]}-chart" config="locationChartOptions" ng-if="locationChartOptions"></highchart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title"><i class="fa fa-thermometer-half fa-fw"></i> Daily Station Average {[ parameterName ]}</h5>
                                        </div>
                                        <div class="card-divider"></div>
                                        <div class="card-body">
                                            <div ng-if="stationsChartOptions">
                                                <highchart id="stations-{[ selectedParameter ]}-chart" config="stationsChartOptions"></highchart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="isDataViewSet('tables')">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title"><i class="fa fa-thermometer-half fa-fw"></i> Daily Average {[ parameterName ]}</h5>
                                        </div>
                                        <div class="card-divider"></div>
                                        <div class="card-body">
                                            <div ng-if="dtOptions != null">
                                                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
                                            </div>
                                            <!-- <div class="table-responsive">          
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>{[ parameterName ]} ({[ parameterUnit ]})</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="measurement in locationDailyAvgParameterData">
                                                            <td>{[ measurement.date | date:'yyyy-MM-dd HH:mm:ss Z' ]}</td>
                                                            <td>{[ measurement.avg_value | setDecimal:2 ]}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title"><i class="fa fa-thermometer-half fa-fw"></i> Daily Station Average {[ parameterName ]}</h5>
                                        </div>
                                        <div class="card-divider"></div>
                                        <div class="card-body">
                                            <div class="table-responsive">          
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Station</th>
                                                            <th>{[ parameterName ]} ({[ parameterUnit ]})</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="measurement in locationDailyStationsAvgParameterData">
                                                            <td>{[ measurement.date | date:'yyyy-MM-dd HH:mm:ss Z' ]}</td>
                                                            <td>{[ measurement.station_name ]}</td>
                                                            <td>{[ measurement.avg_value | setDecimal:2 ]}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="page-content-nav">
                            <ul>
                                <li class="dropdown-header">Parameters</li>
                                <li ng-repeat="parameter in location_parameters_selection">
                                    <!-- <a href="#" ng-click="showParameterData(parameter.parameter_id, parameter.parameter_name, parameter.parameter_unit, parameter.measurement_type, parameter.parameter_description)"><i class="fa fa-thermometer-half fa-fw"></i> {[ parameter.parameter_name ]}</a> -->
                                    <input id="checkbox-{[ parameter.parameter_id ]}" type="checkbox" name="selectedParameters[]" value="{[ parameter.parameter_name ]}" ng-model="parameter.selected"></input>
                                    <label for="checkbox-{[ parameter.parameter_id ]}">{[ parameter.parameter_name ]}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
