<div ng-controller="LocationDataChartsProfile as chartProfileVm" ng-init="chartProfileVm.initChartParameter(locationDataVm.parameters[parameter])">
    <!-- <div range-slider min="profileVm.minDepth" max="profileVm.maxDepth" model-min="profileVm.minDepth" model-max="profileVm.maxDepth"></div> -->
    <div ng-repeat="(chart, chartOptions) in chartProfileVm.chartParameter.charts" ng-init="chartProfileVm.initChart(chart)">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{[ locationDataVm.parameters[parameter].parameter_name ]}</span>
                    <span class="md-subhead">{[ locationDataVm.dataSourcesModel.selectedDataSource ]}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div layout="column" layout-align="space-around">
                    <highchart id="{[ chart ]}-{[ parameter ]}" config="chartProfileVm.chartParameter.charts[chart]"></highchart>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
