<md-content class="md-padding" layout="column">
    
    <div layout="row" layout-xs="column">
        
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img data-ng-src="data:image/png;base64, {[ vm.location.location_image ]}" class="md-card-image" alt="{[ vm.location.location_name ]}">
            </md-card>
            <md-card>
                <md-card-content>
                    <h3 class="md-headline">Location Info</h3>
                    <div layout="row" layout-align="space-between center">
                        <p class="md-body-2">Environment Category: </p><p class="md-body-2">{[ vm.location.location_environment_category ]}</p>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <p class="md-body-2">Position (WGS84): </p><p class="md-body-2">{[ vm.location.location_position.latitude ]}, {[ vm.location.location_position.longitude ]}</p>
                    </div>
                    <h4 class="title">Description </h4><p class="md-body-2">{[ vm.location.location_description.long_description ]}</p>
                </md-card-content>
            </md-card>
        </div>
        
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img class="md-card-image">
                    <div class="google-map">
                        <ui-gmap-google-map ng-if="vm.map.showMap" center='vm.map.center' options='vm.mapOptions' zoom='vm.map.zoom' idKey="location-google-map">
                            <ui-gmap-markers
                                models="vm.markers"
                                type="'cluster'"
                                coords="'self'"
                                icon="'icon'"
                                idkey="'key'"
                                options="'options'"
                                typeOptions="vm.clusterOptions"
                                fit="true">
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </img>
            </md-card>
        </div>

    </div>

    <div layout="column" flex>
        <h2>Stations</h2>
        <div layout-xs="column" layout="row" layout-wrap>
            <md-card ng-repeat="station in vm.stations" flex-xs="100" flex-gt-xs="50" flex-gt-md="33">
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" data-ng-src="data:image/png;base64, {[ station.station_image ]}"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{[ station.station_name ]}</span>
                        <span class="md-subhead">{[ station.station_environment_category ]}</span>
                    </md-card-header-text>
                </md-card-header>
                <img data-ng-src="data:image/png;base64, {[ station.station_image ]}" class="md-card-image" alt="{[ station.station_name ]}">
            </md-card>
        </div>
    </div>
</md-content>
