<md-content class="md-padding">
    
    <div layout-xs="column" layout="row" layout-wrap>
        <div ng-show="locationCamsAndPhotosVm.noLiveWebcams()">
            <p class="md-body-1">No live webcams available!</p>
        </div>
        <md-card ng-repeat="stationLiveWebcam in locationCamsAndPhotosVm.liveWebcams" flex-xs="100" flex-gt-md="50">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{[ stationLiveWebcam.station_name ]}</span>
                    <span class="md-subhead">Live</span>
                </md-card-header-text>
            </md-card-header>
            <img data-ng-src="{[ stationLiveWebcam.livewebcam.url ]}" fallback-src="http://google.com/favicon.ico" class="md-card-image" alt="{[ stationLiveWebcam.station_name ]}">
        </md-card>
    </div>

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Archive</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-input-container flex-gt-md="30">
                <label>Select Date</label>
                    <input time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="Date"
                        ng-model="locationCamsAndPhotosVm.datePickerModel.date" class=" md-input" readonly="readonly"
                        ng-change="locationCamsAndPhotosVm.dateChange()">
            </md-input-container>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Videos</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-show="locationCamsAndPhotosVm.noVideos()">
                <p class="md-body-1">No videos available!</p>
            </div>
            <div layout-xs="column" layout="row" layout-wrap>
                <div ng-repeat="stationVideoUrl in locationCamsAndPhotosVm.videoUrls" flex-xs="100" flex-gt-md="50">
                    <embed-video data-ng-href="{[ stationVideoUrl.video_url ]}" width="100%" height=480 
                        iframe-id="youtube{[ $index ]}" enablejsapi="1" controls=1>
                        <a href="{[ stationVideoUrl.video_url ]}">Watch</a>
                    </embed-video>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Photos</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-show="locationCamsAndPhotosVm.noWebcamPhotos()">
                <p class="md-body-1">No photos available!</p>
            </div>
            <div layout-xs="column" layout="row" layout-wrap layout-align="space-around center">
                <md-card flex="33" ng-repeat="stationWebcamPhoto in locationCamsAndPhotosVm.webcamPhotos" 
                    ng-click="locationCamsAndPhotosVm.showPhoto($event, $index)">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{[ stationWebcamPhoto.station_name ]}</span>
                            <span class="md-subhead">{[ stationWebcamPhoto.timestamp | date: 'yyyy-MM-dd HH:mm:ss Z' ]}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img data-ng-src="data:image/png;base64, {[ stationWebcamPhoto.photo ]}" fallback-src="http://google.com/favicon.ico" class="md-card-image" alt="{[ stationWebcamPhoto.station_name ]}">
                </md-card>
            </div>
    </md-card>

</md-content>

<!-- <div class="test">
    <div class="row">
        <h2 class="page-header">Live Webcams</h2>
        <div class="col-xs-12 col-md-6" ng-repeat="station in locationCamsAndPhotosVm.liveWebcams">
            <div class="card">
                <div class="card-content">
                    <h4><i class="fa fa-map-marker fa-fw"></i> {[ station.station_name ]}</h4>
                </div>
                <div class="card-image">
                    <img class="img-responsive" data-ng-src="{[ station.livewebcam.url ]}" fallback-src="http://google.com/favicon.ico">
                    <span class="card-title"><i class="fa fa-circle fa-fw red"></i> Live</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="page-header">Webcam Photos</h2>
         <div class="form-group">
            <input date-range-picker name="singledate" id="singledate" class="form-control date-picker" type="text"
               ng-model="locationCamsAndPhotosVm.datePickerModel.datePicker.date" options="locationCamsAndPhotosVm.datePickerModel.datePickerOptions">
           </input>
        </div>
        <div>
            <div class="col-md-3" ng-repeat="stationWebcamPhoto in locationCamsAndPhotosVm.webcamPhotos">
                <a ng-click="locationCamsAndPhotosVm.openLightboxModal($index)">
                    <div class="card">
                        <div class="card-image">
                            <img class="img-responsive" data-ng-src="{[ stationWebcamPhoto.thumbUrl ]}">
                        </div>
                        <div class="card-content">
                            <p><i class="fa fa-clock-o fa-fw"></i> {[ stationWebcamPhoto.timestamp | date:'yyyy-MM-dd HH:mm:ss' ]}</p>
                            <p><i class="fa fa-map-marker fa-fw"></i> {[ stationWebcamPhoto.stationName ]}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->
