<div>
    <div class="blue">
        <div class="test">
            <div class="row">
                <h3 class="white" ng-model="location.location_name">{[ location.location_name ]}</h3>
                <h4 class="white" ng-model="location.location_position"><i class="fa fa-location-arrow fa-fw"></i> {[ location.location_position.latitude ]}, {[ location.location_position.longitude ]}</h4>
                <h4 class="white" ng-model="location.location_environment_category"><i class="fa fa-leaf fa-fw"></i> {[ location.location_environment_category ]} </h4>
            </div>
        </div>
        <div class="row">
            <div class="location-nav">
                <div class="tabs-wrapper">
                    <ul class="nav nav-tabs tabs-4 blue-4">
                      <li class="nav-item" ng-class="{ active: isSet('location-overview') }">
                          <a ng-click="changeTabContent('location-overview')">
                              <i class="fa fa-info fa-fw"></i> Overview
                          </a>
                      </li>
                      <li class="nav-item" ng-class="{ active: isSet('location-data') }">
                          <a ng-click="changeTabContent('location-data')">
                              <i class="fa fa-bar-chart-o fa-fw"></i> Data
                          </a>
                      </li>
                      <li class="nav-item" ng-class="{ active: isSet('location-cams-and-photos') }">
                          <a ng-click="changeTabContent('location-cams-and-photos')">
                              <i class="fa fa-video-camera fa-fw"></i> Cams & Photos
                          </a>
                      </li>
                      <li class="nav-item" ng-class="{ active: isSet('location-status') }">
                          <a ng-click="changeTabContent('location-status')">
                              <i class="fa fa-bolt fa-fw"></i> Status
                          </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
