* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #252830;
    color: #cfd2da;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0;
    min-width: 100%;
    width: 1px;
}

div {
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
}

li, li p {
    margin: 8px 0;
    padding: 0;
}

ul {
    list-style: disc outside;
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

.top-section {
    background-color: #4285f4;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    position: static;
    top: 0;
    width: 100%;
    z-index: 10005;
}

.top-logo-row-wrapper-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10006;
}

.top-logo-row-wrapper {
    background-color: #f8f8f8;
    border: 1px solid transparent;
    border-color: #e7e7e7;
}

.top-logo-row {
    display: flex;
    height: 48px;
    padding: 0 24px;
    position: relative;
}

.full-site-width {
    margin: 0 auto;
    max-width: 1400px;
}

.brand-name-wrapper {
    display: inline-block;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0;
}

.brand-name-link, .site-logo-link {
    opacity: 1;
    transition: opacity .2s;
}

.brand-logo-container {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    margin-right: 16px;
    width: 36px;
}

.brand-logo {
    color: #4285f4;
    font-size: 24px;
    height: 24px;
    margin: 6px;
    width: 24px;
}

.brand-name {
    color: #777;
    display: inline-block;
    font: 20px/36px Roboto,sans-serif;
    letter-spacing: 0;
    margin: 0;
    vertical-align: top;
    white-space: nowrap;
}

.breadcrumb-list {
    padding: 0;
    white-space: nowrap;
}

.breadcrumb-item {
    display: inline-block;
    margin: 0;
}

.breadcrumb-link {
    color: #777;
    display: inline-block;
    transition: color .2s;
}

.brand-name .breadcrumb-link {
    color: #777;
}

.breadcrumb-link>.brand-name {
    color: inherit;
}

.header-upper-tabs {
    display: inline-block;
    flex: 1 1 0;
    overflow-y: auto;
    vertical-align: top;
    transition: flex .2s,margin .2s,width .2s,-ms-flex .2s;
}

.header-upper-tabs:not(:empty) {
    margin-left: 48px;
}

.overflow-tabs-scroll-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.nav {
    font-size: 13px;
}

.doc-set-nav {
    flex: 1 0 auto;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #434857;
}

#chart-container {
	height: 300px;
	min-width: 310px;
	max-width: 800px;
}

.overflow-tabs-scroll {
    left: 0;
    position: relative;
    transition: left .2s;
    width: 100%;
}

.doc-set-nav-tab-list {
    white-space: nowrap;
}

.doc-set-nav-tab-container {
    display: inline-block;
    margin: 0;
}

.header-upper-tabs .devsite-doc-set-nav-tab {
    color: rgba(255,255,255,.7);
    font-weight: 400;
    text-transform: none;
}

.doc-set-nav-tab {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: rgba(255,255,255,.7);
    display: inline-block;
    font: 500 14px/44px Roboto,sans-serif;
    margin: 0;
    padding: 0 24px;
    text-transform: uppercase;
    transition: color .2s;
}

.header-background {
    position: relative;
}

.header-no-lower-tabs .product-id-row {
    padding-bottom: 24px;
}

.product-id-row {
    display: flex;
    padding: 24px 24px 24px;
}

.landing-page .product-description-row {
    max-width: calc((100% - 80px)/3);
}

.product-description-row {
    color: #fff;
    font: 20px/36px Roboto,sans-serif;
}

.product-button-row {
    flex: 1 0 auto;
    margin: auto 0 auto 24px;
    text-align: right;
    z-index: 1;
}

.button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #1ca8dd;
    cursor: pointer;
    display: inline-block;
    font: 500 14px/20px Roboto,sans-serif;
    height: 36px;
    margin: 0;
    min-width: 36px;
    outline: 0;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
}

.product-button-row > a .button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 8px 16px;
}

.button-text-blue {
    color: #1ca8dd;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.sidebar-nav .btn-group {
    width: 100%
}

.btn-group button {
    background-color: #434857;
    border: 0;
    color: #fff;
}

.dropdown-menu {width: 100%;}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
}

.navbar-default {
    background-color: inherit;
    border: none;
}

.navbar-default .navbar-brand {
    color: #51586a;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.sidebar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-collapse {
    border: 0;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.sidebar-nav .nav > li > a {
    color: #cfd2da;
}

.nav-wrapper .nav.navbar-nav {
    float: left;
}

.nav-wrapper .nav>li {
    position: static;
    float: left;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

/*
.nav {
    margin-bottom: 0;
    list-style: none;
}
*/

#side-menu li a {
    border-radius: 4px;
    color: #cfd2da;
}

#side-menu li a:focus {
    background-color: #1ca8dd;
    color: #252830;
    font-weight: 500;
}

#side-menu li a.active:focus {
    background-color: #1ca8dd;
    color: #252830;
    font-weight: 500;
}

#side-menu li a:hover {
    background-color: #434857;
}

.sidebar ul .dropdown-header {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
}

.sidebar ul li ul .dropdown-header {
    border-bottom: none;
    padding-left: 40px;
}

.sidebar ul li a.active {
    background-color: #eee;
    color: #252830;
    font-weight: 500;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-second-level li a.active {
    background-color: #eee;
}

.sidebar .nav-second-level li a:hover {
    background-color: #eee;
}

.site-header-name {
    border: 0;
    color: #ffffff;
    margin-top: 0;
}

.widget-container {
    margin-bottom: 20px !important;
}

.widget {
    margin-bottom: 20px;
    padding-left: 0;
    border: 1px solid #434857;
    border-radius: 4px;
}

.widget-header {
    border-bottom: 1px solid #434857;
    padding: 10px 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.widget-header h4 {
    display: block;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -1px;
}

.widget-content {
    padding: 15px;
}

.widget dl {
    margin-top: 10px;
    margin-bottom: 0;
}

.widget dl dt {
    margin-top: 10px;
}

.anv {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.anv:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #434857;
}

.all {
    margin-bottom: 15px !important;
}

.anw {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    vertical-align: middle;
    background-color: #252830;
}

.bt {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #1ca8dd;
    background-image: linear-gradient(to bottom, #137499, #1ca8dd);
}

.bt p {
    font-weight: 300;
    line-height: 1.4;
    color: #9fdcf3;
}

.bt h1 {
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1;
}

/* h1 {
    margin-top: 0;
    font-family: inherit;
    font-weight: 300;
    color: #ffffff;
}*/

h1 {
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
}

.bw {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.of > li {
    float: left;
}

.aky {
    margin-top: 0;
}

.akt {
    margin-bottom: 0 !important;
}

/*
.nav {
    padding-left: 0;
    list-style: none;
}
*/

/*ol, ul {
    margin-top: 0;
    margin-bottom: 10.5px;
}*/

.tr li {
    float: left;
}

.tr li + li {
    margin-left: 15px;
}

.tr li a {
    display: inline-block;
    padding: 10px 0;
    border-bottom: 4px solid transparent;
}

.tr li.active a, .tr li.active a:hover, .tr li.active a:focus {
    font-weight: 500;
    color: #1ca8dd;
    border-bottom-color: #1ca8dd;
}

/*
.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    color: #cfd2da;
    display: block;
    padding: 7px 15px;
}
*/

.alp {
    margin-bottom: 30px !important;
}
.akr {
    margin-top: 0 !important;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #434857;
}

a {
    color: #1ca8dd;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: #434857;
}

.btn-widget {
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        /* margin: 0 0 0 250px; */
        padding: 0 30px;
    }
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        /* margin-top: 51px; */
    }
    .bt {
        font-size: 24px;
    }
    .bw {
        width: 750px;
    }
    .bt p {
        max-width: 75%;
    }
    .bt h1 {
        font-size: 60px;
        max-width: 75%;
    }
    
}

.cl {
    width: 100%;
    max-width: 100%;
}

.eg {
    overflow-x: auto;
    min-height: 0.01%;
    border: 1px solid #434857;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.cl caption + thead tr:first-child th, .cl colgroup + thead tr:first-child th, .cl thead:first-child tr:first-child th, .cl caption + thead tr:first-child td, .cl colgroup + thead tr:first-child td, .cl thead:first-child tr:first-child td {
    border-top: 0;
}
.cl thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #434857;
}
.cl thead tr th, .cl tbody tr th, .cl tfoot tr th, .cl thead tr td, .cl tbody tr td, .cl tfoot tr td {
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #434857;
}
th {
    text-align: left;
}
td, th {
    padding: 0;
}

.headerSortUp, .headerSortDown {
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700 !important;
    color: #1ca8dd !important;
    border-bottom-color: #1ca8dd !important;
}

@media(max-width:767px) {
    .navbar-default {
        border: 0;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.breadcrumb {
    background-color: inherit;
    margin-bottom: 0px;
}

.breadcrumb li a {
    color: #ffffff;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
}

p {
    margin: 0 0 10px;
}

.google-map #site-map {
    border-radius: 4px;
}

.map-overview {
    height: 300px;
}

.map-full {
    height: 600px;
}

.stations-map-container {
    position: relative;
    width: 100%;
    padding-bottom: 34.6875%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.stations-map-container .stations-map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.locations-map-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.locations-map-container .locations-map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#legend {
    padding: 0;
    margin: 10px;
    background-color: #fff;
    opacity: 0.8;
    /*font-size: 12px;*/
    /*font-family: Arial, sans-serif;*/
}

#legend > h4 {
    color: #000;
}

.list-group {
    margin-bottom: 0;
}

.nav .tr .aky .akt li a:hover {
    background-color: transparent;
    color: #fff;
}

.no-padding {
    padding: 0;
}
