body {
    background-color: #fff;
}

a {
    color: #f8f4f1;
    text-decoration: none;
    background-color: transparent;
}

:link, :visited {
    color: #f8f4f1;
    outline: 0;
    text-decoration: none;
}

.navbar-default {
    background-color: #51a3b8;
    border: none;
}

.navbar-header {
    margin-left: 15px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2d5b7c;
}

.brand-container {
    display: inline-block;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0;
}

.brand-link {
    opacity: 1;
    transition: opacity .2s;
}

.brand-link:hover, brand-link:focus {
    opacity: .7;
    text-decoration: none;
}

.brand-logo-container {
    display: inline-block;
    border-radius: 80%;
    background-color: #fff;
    height: 36px;
    margin-right: 8px;
    width: 36px;
}

.brand-logo {
    color: inherit;
    font-size: 24px;
    height: 36px;
    /* margin: 6px; */
    width: 36px;
}

.brand-name {
    color: #fff;
    display: inline-block;
    font: 20px/36px Roboto,sans-serif;
    letter-spacing: 0;
    margin: 0;
    vertical-align: top;
    white-space: nowrap;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

.side-menu {
    background-color: #2d5b7c;
    border-right: 1px solid #e7e7e7;
}

@media(min-width: 768px) {
    .side-menu {
        position: fixed;
        height: 100%;
        width: 280px;
        margin-top: 50px;
    }
}

.side-menu .navbar-default {
    background-color: inherit;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav .dropdown-header {
    color: #b5afbd;
    padding-left: 15px;
    font: bold 14px/24px Roboto,sans-serif;
}

.sidebar-nav .dropdown-header-second-level {
    color: #b5afbd;
    padding-left: 30px;
    font: bold 14px/24px Roboto,sans-serif;
}

.sidebar-nav li a {
    display: block;
    color: #f8f4f1;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    font: 300 14px/32px Roboto,sans-serif;
}

.sidebar-nav li a span {
    float: right;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border: none;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: inherit;
    box-shadow: none;
}

.sidebar-nav .dropdown-menu>li>a {
    padding-left: 30px;
}

.sidebar-nav .dropdown-menu>li>a:focus, .sidebar-nav .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 280px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
