<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Erken Laboratory Monitoring</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- metisMenu CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/views/style.css") }}>

    {% block extracss %}
    {% endblock %}

  </head>

  <body>

    <!-- .wrapper -->
    <div class="wrapper">
      
      <!-- Navigation -->

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Erken Laboratory Monitoring</a>
            </div>
            <!-- /.navbar-header -->
            
            <div class="navbar-wrapper">
            
            <!-- <ul class="nav navbar-nav"><li><a href="#"><i class="fa fa-map fa-fw"></i> Map</a></li></ul> -->
            
            <ul class="nav navbar-top-links navbar-right">

                <div class="btn-group">
                <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe fa-fw"></i> All Locations <span class="caret"></span>
                </button>
                <ul id="locations-dropdown" class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#"><i class="fa fa-globe fa-fw"></i> All Locations</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            
            </div>

        </nav>
        
        <div class="collapsible-section" style="margin-top: 0px;">
            <div class="header-background full-site-width">
                <div class="doc-set-nav-row full-site-width">
                    <nav class="doc-set-nav nav overflow-tabs-scroll-wrapper">
                        <ul class="doc-set-nav-tab-list overflow-tabs-scroll" style="min-width: 681px; left: 0px;">
                            <li class="doc-set-nav-tab-container">
                                <a href="https://developers.google.com/maps/documentation/javascript/" class="doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Overview">Overview</a>
                            </li>
                            <li class="doc-set-nav-tab-container">
                                <a href="https://developers.google.com/maps/documentation/javascript/tutorial" class="doc-set-nav-activedoc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Guides">Guides</a>
                            </li>
                            <li class="doc-set-nav-tab-container">
                                <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference" class="doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Reference">Reference</a>
                            </li>
                            <li class="doc-set-nav-tab-container">
                                <a href="https://developers.google.com/maps/documentation/javascript/examples/" class="doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Samples">Samples</a>
                            </li>
                            <li class="doc-set-nav-tab-container">
                                <a href="https://developers.google.com/maps/documentation/javascript/support" class="doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Support">Support</a>
                            </li>
                            <button type="button" id="feedback-project" class="feedback-button top-button gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Send Feedback Button" track-type="feedback" track-name="sendFeedbackLink" track-metadata-position="header">Send feedback</button>
                        </ul>
                        <button type="button" class="overflow-tabs-scroll-button top-button material-icons scroll-forward hidden"></button><button type="button" class="overflow-tabs-scroll-button top-button material-icons scroll-back hidden"></button>
                    </nav>
                </div>
            </div>
        </div>
        
        <!-- {% block collapsiblesection %}{% endblock %} -->

      </nav>
        
      <!-- #page-wrapper -->
      <div id="page-wrapper">
        {% block content %}{% endblock %}
      </div>
      <!--/#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    
    <!-- jQuery local fallback -->
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery/jquery-3.1.1.min.js') }}"><\/script>')</script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
        
    <!-- Bootstrap Core JavaScript local fallback -->
    <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{{ url_for('static', filename='css/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"><\/script>')}</script>
    
    <!-- metisMenu JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>
    
    <!-- metisMenu CSS/JavaScript local fallback -->
    <script>
    if (typeof metisMenu !== 'function') {
        $("head").prepend('<link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu-master/dist/metisMenu.min.css') }}">');
        document.write('<script src="{{ url_for('static', filename='css/metisMenu-master/dist/metisMenu.min.js') }}"><\/script>');
            
    }
    </script>
    
    <!-- Bootstrap CSS local fallback -->
    <script>
    $(document).ready(function() {
        var bodyMargin = $('body').css('margin');
        if (bodyMargin != '0px') {
            $("head").prepend('<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">');}});
    </script>
    
    <!-- Font Awesome CSS local fallback  -->
    <script>
    $(document).ready(function() {
        var fontFamily = $('.fa').css('font-family');
        if (fontFamily != 'FontAwesome') {
            $("head").prepend('<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">');}});
    </script>

    <!-- Google Maps API JavaScript -->
    <script src={{ url_for('static', filename="js/googlemaps-markerer-cluster/markerclusterer.js") }}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN193fgB-M7MdBiaxqwi2h9i_-2_MAWsk"></script>
    
    <!-- HighCharts API JavaScript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    
    <script>
    
    function getStationsSideMenuContent(locationId, stations) {
        var stationsListItems = '';
        $.each(stations, function(index, station) {
            stationId = station.station_id;
            stationName = station.station_name;
            stationItemId = 'station-' + stationId;
            stationsListItems += '<li><a href="/sites/site/' + locationId + '/locations/location/' + stationId + '"><i class="fa fa-map-marker fa-fw"></i>' + ' ' + stationName + '</a></li>';
        });

        return stationsListItems;
    
    }
    
    function populateSideMenu() {
        var locationsDropdown = $('#locations-dropdown');
        var getLocationsAndStationsUrl = '/locations/get_locations_and_stations';
        return $.getJSON(getLocationsAndStationsUrl).done(function(result) {
            $.each(result, function(index, location) {
                var locationId = location.id;
                var locationName = location.name;
                var locationItemId = 'location-' + locationId;
                var locationStations = location.location_stations;
                var stationItems = getStationsSideMenuContent(locationId, locationStations);
                
                locationDropdownItem = '<li id="' + locationItemId + '" class="dropdown-submenu">' + 
                        '<a tabindex="-1" href="#"><i class="fa fa-globe fa-fw"></i>' + ' ' + locationName + '</a>' + 
                        '<ul class="dropdown-menu"><li><a tabindex="-1" href="/sites/site/' + locationId + '/overview/"><i class="fa fa-globe fa-fw"></i> ' + locationName + '</a></li>' +
                        '<li class="divider"></li>' + stationItems + '</ul></li>';
                
                locationsDropdown.append(locationDropdownItem);

            });
        });
    }
    
    populateSideMenu().done(function() {
        $('#side-menu').metisMenu();
    });
    
    </script>
    
    <script>

    //Loads the correct sidebar on window load,
    //collapses the sidebar on window resize.
    // Sets the min-height of #page-wrapper to window size
    $(function() {
        $(window).bind("load resize", function() {
            topOffset = 50;
            width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }

            height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        var url = window.location;
        var element = $('ul.nav a').filter(function() {
            return this.href == url || url.href.indexOf(this.href) == 0;
        }).addClass('active').parent().parent().addClass('in').parent();
        if (element.is('li')) {
            element.addClass('active');
        }
    });
    
    $(function() {
        
        $('#side-menu li ul li a').on('click', function(event) {
            event.preventDefault();
            $('#page-wrapper').load($(this).attr('href'));
        });
    });
    </script>
    
    <script>
    $(function() {
        $('.dropdown-menu a').on('click', function() {    
            $('.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');    
        })
    });
    </script>
    
    {% block extrajs %}
    {% endblock %}

  </body>

</html>


