{% extends 'base.html' %}

{% block extracss %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/views/sites/style.css") }}>

{% endblock %}

{% block content %}

    <div class="bt">
        <div class="bw">
          <h1>Erken Laboratory Monitoring</h1>
          <p>Research at the Erken Laboratory focuses on the long-term monitoring of water quality, climate effects on aquatic systems, circulation of nutrients, population and community dynamics in lakes.</p>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="sites-map-container">
            <div id="sites-map-canvas" class="sites-map-canvas"></div>
        </div>
    </div>
    <div class="col-lg-2"></div>

{% endblock %}

{% block extrajs %}
    
    <script type="text/javascript">
    $(document).ready(function() {
        var getSitesUrl = '/sites/get_sites';
        var map;
        var markers = [];
        var bounds = new google.maps.LatLngBounds();
        
        function initMap() {
            var mapOptions = {
                zoom: 2,
                center: new google.maps.LatLng(0, 0),
                mapTypeId: 'terrain'
            };
            map = new google.maps.Map(document.getElementById('sites-map-canvas'), 
                mapOptions);
        }

        function loadAllSites() {
            return $.getJSON(getSitesUrl, function(data) {
                $.each(data, function (site, siteData) {
                    var siteId = siteData.site_id;
                    var siteName = siteData.site_name;
                    var siteDescription = siteData.site_description;
                    var siteImage = siteData.site_image;
                    var siteLat = siteData.site_position.latitude;
                    var siteLng = siteData.site_position.longitude;
                    var siteLatLng = new google.maps.LatLng(siteLat, siteLng);

                    addMarker(siteId, siteName, siteLatLng, siteDescription, siteImage);
                    bounds.extend(siteLatLng);
                });
            });
        }
        
        function moveCenter(lat, lng){
            var center = new google.maps.LatLng(lat, lng);
            map.panTo(center);
        }

        function addMarker(id, name, latlng, description, image) {
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: name
            });

            var infoWindowContent =
                '<div id="info-window-' + id + '">' +
                    '<div id="info-window' + id + '-notice"></div>' +
                    '<a href="/sites/site?site_id=' + id + '">' +
                        '<h3 id="info-window-' + id + '-heading" class="infoContentHeading">' + name + '</h3>' +
                    '</a>' +
                    '<div id="info-window-' + id + '-bodyContent">' +
                        '<p>' + 'WGS84: ' + latlng.lat() + ', ' + latlng.lng() + '</p>' +
                        '<img class="img-responsive" src="/static/images/sites/' + image +
                            '" alt="' + name + '" height="300" width="300"></img>' +
                        '<p>' + description  + '</p>' +
                    '</div>' +
                '</div>';

            var infoWindow = new google.maps.InfoWindow({
                content: infoWindowContent
            });

            marker.addListener('click', function() {
                infoWindow.open(map, marker);
            });

            markers.push(marker);
        }
        
        initMap();
        loadAllSites().done(function() {
            var options = {imagePath: '{{ url_for('static', filename='js/googlemaps-markerer-cluster/images/m') }}'};
            var markerCluster = new MarkerClusterer(map, markers, options);
            
            if (bounds.isEmpty()) {}
            else {
                map.fitBounds(bounds);
            }
        });
        
    });
    </script>

{% endblock %}
