<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Erken Laboratory Monitoring</title>
    
    <link href="/static/images/favicon.ico" rel="shortcut icon">

    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
    
<body>

    <div data-ng-include="'static/partials/layout/shell.html'"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN193fgB-M7MdBiaxqwi2h9i_-2_MAWsk"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/static/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/static/bower_components/gmap-clusterer/markerclusterer/src/markerclusterer.js "></script>
    <script src="/static/bower_components/angular-datatables/demo/src/archives/dist/angular-datatables.js"></script>
    <link href="/static/bower_components/angular-datatables/demo/src/archives/dist/css/angular-datatables.css" rel="stylesheet">
    <script src="/static/bower_components/moment/moment.js"></script>
    <script src="/static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/static/bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="/static/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="/static/bower_components/lodash/dist/lodash.js"></script>
    <script src="/static/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/static/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    
    <script src="/static/js/app.js"></script>
    <!-- <script src="/static/js/config.js"></script> -->
    
    <script src="/static/js/services/services.module.js"></script>
    <script src="/static/js/services/locations.service.js"></script>
    <script src="/static/js/services/location/location.service.js"></script>
    <script src="/static/js/services/location/location-measurements.service.js"></script>
    <script src="/static/js/services/location/location-parameters.service.js"></script>
    <script src="/static/js/services/location/location-stations.service.js"></script>
    <script src="/static/js/services/location/location-webcams.service.js"></script>
    
    <script src="/static/js/core/core.module.js"></script>
    <script src="/static/js/core/core.config.js"></script>
    <script src="/static/js/core/core.rootscopebinder.service.js"></script>
    <script src="/static/js/core/core.constants.js"></script>
    
    <script src="/static/js/layout/layout.module.js"></script>
    <script src="/static/js/layout/shell.controller.js"></script>
    <script src="/static/js/layout/sidebar.controller.js"></script>
    
    <script src="/static/js/location/location.module.js"></script>
    <script src="/static/js/location/location.config.js"></script>
    <script src="/static/js/location/location.config.route.js"></script>
    <script src="/static/js/location/location.controller.js"></script>
    <script src="/static/js/location/location-storage.service.js"></script>
    <script src="/static/js/location/data/location-data.controller.js"></script>
    <script src="/static/js/location/data/location-data-storage.service.js"></script>
    <script src="/static/js/location/data/location-data-datasource.service.js"></script>
    <script src="/static/js/location/data/location-data-datepicker.service.js"></script>
    <script src="/static/js/location/data/location-data-charts.controller.js"></script>
    <!-- <script src="/static/js/location/location-data-charts.service.js"></script> -->
    <script src="/static/js/location/data/location-data-charts-parameter.controller.js"></script>
    <!-- <script src="/static/js/location/location-data-tables.controller.js"></script> -->
    <script src="/static/js/location/overview/location-overview.controller.js"></script>
    <!-- <script src="/static/js/location/location.service.js"></script> -->
    
    <script src="/static/js/start/start.module.js"></script>
    <script src="/static/js/start/start.config.route.js"></script>
    <script src="/static/js/start/start.controller.js"></script>
    <script src="/static/js/start/start-map.controller.js"></script>
    <script src="/static/js/start/start-storage.service.js"></script>

</body>

</html>


