{% extends 'base.html' %}

{% block extracss %}
{% endblock %}

{% block collapsiblesection %}
    <div class="collapsible-section-tabs" style="margin-top: 0px;">
        <div class="header-background full-site-width">
            <!-- <div class="header-map-view-toggle-container full-site-width"> -->
                <!-- <div class="header-map-view-nav"> -->
                <!-- </div> -->
            <!-- </div> -->
            <div class="header-tabs-container full-site-width">
                <nav class="header-tabs-nav overflow-tabs-scroll-wrapper">
                    <ul class="nav-tab-list overflow-tabs-scroll" style="min-width: 681px; left: 0px;">
                        <li class="nav-tab-container">
                            <a href="#" class="nav-tab">Overview</a>
                        </li>
                        <li class="nav-tab-container">
                            <a href="#" class="nav-tab active">Data</a>
                        </li>
                        <li class="nav-tab-container">
                            <a href="#" class="nav-tab">Cams & Photos</a>
                        </li>
                        <ul class="nav tab-container-map-toggle navbar-right">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Map View
                                    <div class="material-switch pull-right">
                                        <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="collapsible-section-info" style="margin-top: 0px;">
        <div class="header-background full-site-width">
            <div class="header-info-container full-site-width">
                <div class="header-info-description-row">
                    <div class="header-info-description">
                        Research at the Erken Laboratory focuses on the long-term monitoring of water quality, climate effects on aquatic systems, circulation of nutrients, population and community dynamics in lakes.
                    </div>
                </div>
                <div class="header-info-button-row">
                    <a href="#" class="button button-text-white" data-category="getStarted" data-action="buttonClick" data-label="hero">Learn More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
     <div class="page-content">
        <div class="row" id="locations-container"></div>
    </div>

{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
    var locations = {};
    var map;
    var testDiv;
    var getParametersUrl = '/locations/get_locations_parameters';
    var getLiveWebcamsUrl = '/locations/get_locations_live_webcams';
    
    function loadAllParameters() {
        return $.getJSON(getParametersUrl).done(function(data) {
            return data;
        });
    }
    
    function loadAllLiveWebcams() {
        return $.getJSON(getLiveWebcamsUrl).done(function(data) {
            return data;
        });
    }
    
    function initMap(locationId, locationMap) {
        var locationData = locations[locationId];
        var locationPosition = locationData.position;
        var locationLatitude = locationPosition.latitude;
        var locationLongitude = locationPosition.longitude;
        var mapOptions = {
            scrollwheel: false,
            zoom: 12,
            center: new google.maps.LatLng(locationLatitude, locationLongitude),
            mapTypeId: 'terrain'
        };

        map = new google.maps.Map(locationMap, 
            mapOptions);
    }
    
    function initParametersMenu(data) {
        var locationsParametersHeading = $('#locations-parameters-heading');
        var dynamicContent =  [];
        $.each(data, function(index, parameter) {
            var content = '<li class="nav-item">';
            content += '<a href="#" class="nav-title" track-type="leftNav" track-name="titleLink" track-metadata-position="0" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">';
            content += '<span><i class="fa fa-area-chart fa-fw"></i> ' + parameter.parameter_name + '</span>';
            content += '</a>';
            content += '</li>';
            dynamicContent.push(content);
        });
        locationsParametersHeading.after(dynamicContent);
    }
    
    function initWebcamsMenu(data) {
        var locationsWebcamsHeading = $('#locations-webcams-heading');
        var dynamicContent =  [];
        $.each(data, function(index, webcam) {
            var liveWebcam;
            if (webcam.livewebcam.url) {
                liveWebcam = webcam.livewebcam.url;
            }
            else {
                liveWebcam = webcam.livewebcam.ip_address;
            }
            var content = '<li class="nav-item">';
            content += '<a href="#" class="nav-title" track-type="leftNav" track-name="titleLink" track-metadata-position="0" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">';
            content += '<span><i class="fa fa-video-camera fa-fw"></i> ' + liveWebcam + '</span>';
            content += '</a>';
            content += '</li>';
            dynamicContent.push(content);
        });
        locationsWebcamsHeading.after(dynamicContent);
    }
    
    function populateLocationsCarousel() {
        var locationsContainer = $('#locations-container');
        var getLocationsUrl = '/locations/get_locations';
        return $.getJSON(getLocationsUrl).done(function(result) {
            var dynamicContent =  [];
            $.each(result, function(index, location) {
                var content = '';
                var locationId = location.id;
                var locationName = location.name;
                var locationPosition = location.position;
                var locationLatitude = locationPosition.latitude;
                var locationLongitude = locationPosition.longitude;
                var locationDescription = location.description;
                var locationShortDescription = locationDescription.short_description;
                var locationEnvironmentCategory = location.environment_category;
                locations[locationId] = location;
                content += '<div class="row user-menu-container square" data="' + locationId + '">';
                content += '<div class="col-md-12 user-details">';
                content += '<div class="row coralbg white">';
                content += '<div class="col-md-6 no-pad">';
                content += '<div class="user-pad">';
                content += '<h3>' + locationName + '</h3>';
                content += '<h4 class="white"><i class="fa fa-location-arrow fa-fw"></i> ' + locationLatitude + ', ' + locationLongitude + '</h4>';
                content += '<h4 class="white"><i class="fa fa-leaf fa-fw"></i> ' + locationEnvironmentCategory + '</h4>';
                content += '<button type="button" class="btn btn-labeled btn-info" href="#">';
                content += '<span class="btn-label"><i class="fa fa-globe fa-fw"></i></span>View</button>';
                content += '</div>';
                content += '</div>';
                content += '<div class="col-md-6 no-pad">';
                content += '<div class="user-image">';
                content += "<img src={{ url_for('static', filename='images/sites/erken.JPG') }} " + 'class="img-responsive thumbnail">';
                content += '</div>';
                content += '</div>';
                content += '</div>';
                content += '</div>';
                content += '<div class="col-md-12 user-menu-btns">';
                content += '<div class="btn-group-vertical square" id="responsive">';
                content += '<a href="#" class="btn btn-block btn-default active">';
                content += '<i class="fa fa-info fa-3x"></i>';
                content += '</a>';
                content += '<a href="#" class="btn btn-default">';
                content += '<i class="fa fa-bar-chart-o fa-3x"></i>';
                content += '</a>';
                content += '<a href="#" class="btn btn-default">';
                content += '<i class="fa fa-map-marker fa-3x"></i>';
                content += '</a>';
                content += '<a href="#" class="btn btn-default">';
                content += '<i class="fa fa-video-camera fa-3x"></i>';
                content += '</a>';
                content += '<a href="#" class="btn btn-default">';
                content += '<i class="fa fa-bolt fa-3x"></i>';
                content += '</a>';
                content += '</div>';
                content += '</div>';
                content += '<div class="col-md-12 user-menu user-pad">';
                content += '<div class="user-menu-content active">';
                content += '<div class="google-map">';
                content += '<div id="' + locationId + '-map " class="map-overview"></div>';
                content += '</div>';
                content += '<h3>';
                content += 'Location Information';
                content += '</h3>';
                content += '<p>' + locationShortDescription + '</p>';
                content += '</div>';
                content += '<div class="user-menu-content">';
                content += '<div><div class="btn-group"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button><ul class="dropdown-menu" aria-labelledby="dropdownMenu1"><li class="dropdown-header">Parameters</li><li><a href="#">Action</a></li><li><a href="#">Another action</a></li><li><a href="#">Something else here</a></li></ul></div></div>';
                content += '<div class="col-md-12">';
                content += '<div id="container"></div>';
                content += '<div class="table-responsive">';
                content += '<table id="mytable" class="table table-bordred table-striped">';
                content += '<thead>';
                content += '<tr><th><input type="checkbox" id="checkall"></th>';
                content += '<th>Time</th>';
                content += '<th>Station</th>';
                content += '<th>Sensor</th>';
                content += '<th>Value</th>';
                content += '<th>Unit</th>';
                content += '</tr></thead>';
                content += '<tbody>';
                content += '<tr>';
                content += '<td><input type="checkbox" class="checkthis"></td>';
                content += '<td>2016-06-06 14:33:12</td>';
                content += '<td>Malma Island</td>';
                content += '<td>Thermocouple</td>';
                content += '<td>23.6</td>'
                content += '<td>°C</td>'
                content += '</tr>';
                content += '</tbody>';
                content += '</table>';
                //content += '<div class="clearfix"></div><ul class="pagination pull-right"><li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li></ul>
                content += '</div>';
                content += '</div>';
                content += '</div>';
                content += '</div>';
                content += '</div>';
                
                dynamicContent.push(content);

            });
            locationsContainer.append(dynamicContent);
            
        });
    }
    
    populateLocationsCarousel().done(function () {
        var $btnSets = $('#responsive'),
        $btnLinks = $btnSets.find('a');
     
        $btnLinks.click(function(e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.user-menu>div.user-menu-content").removeClass("active");
            $("div.user-menu>div.user-menu-content").eq(index).addClass("active");
            
            var locationId = $(this).parents('.user-menu-container').attr('data');
            if (index == 0) {
                var locationMap = $('.user-menu-container .user-pad .user-menu-content .active .google-map .map-overview').attr('id');
                console.log(locationMap);
                initMap(locationId, locationMap);
            }
        });
        
        $("[rel='tooltip']").tooltip();    
 
        $('.view').hover(
            function(){
                $(this).find('.caption').slideDown(250); //.fadeIn(250)
            },
            function(){
                $(this).find('.caption').slideUp(250); //.fadeOut(205)
            }
        ); 
        
        Highcharts.chart('container', {
        title: {
            text: 'Monthly Average Temperature',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
    });
    
    //loadAllParameters().done(function(result) {
    //    initParametersMenu(result);
    //});
    
    //loadAllLiveWebcams().done(function(result) {
    //    initWebcamsMenu(result);
    //});
});
</script>
{% endblock %}
